<div class="row text-white">
    <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
        <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
            Franchises
        </p>
        <div class="ct_how_use_tooltip_main">
            <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
            <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                <div>
                    <h5 class="mb-2 ct_fs_16">Franchise

                    </h5>
                    <p>Emissions from the operations of franchises owned by the company who
                        grants the license to other entities to sell or distribute its
                        product or service. This includes all emissions resulting from the
                        franchise operations, such as energy use, transportation, and waste.
                    </p>
                    <h5 class="mb-2 ct_fs_16">To collect emissions data for Franchise used
                        by the company, follow these steps:
                    </h5>
                    <ol>
                        <li>Identify all potential sources of emissions within the franchise
                            (e.g., electricity usage, heating, vehicle fleets).

                        </li>
                        <li>Gather utility bills or usage records for each franchise
                            location.

                        </li>
                        <li>Fuel Usage: Record fuel consumption for any company-owned
                            vehicles and equipment.
                        </li>
                        <li>Waste Management: Track waste generation and disposal methods,
                            including recycling and landfill use.
                        </li>
                        <li>Other Sources: Identify any additional sources of emissions
                            specific to your franchise operations (e.g., industrial
                            processes).
                        </li>
                    </ol>

                    <h5 class="ct_fs_16 mb-0">How to use the tool for entering data
                        emissions

                    </h5>
                    <ol>
                        <li>
                            Select the franchise asset type and the sub-category from the
                            dropdown.

                        </li>
                        <li>Select the calculation method.

                            <ul class="pl-3" style="list-style: lower-roman;">
                                <li>If selected ‘Average data method’, enter the area of the
                                    franchise in sq meter or sq. feet.
                                </li>
                                <li>If selected ‘Investment specific method’, download the
                                    template to collect Scope1 and Scope2 emissions data
                                    associated with using the franchise for the reporting
                                    period

                                </li>
                            </ul>
                        </li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

    <div class="trackingFooter">
        <div class="row mt-4 mb-3 mb-5 pb-5 mx-2">

            <div class="col-12">
                <div class=" mt-4">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Franchise Type</label>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                    [options]="franchiseGrid" optionLabel="categories" optionValue="categories"
                                    (onChange)="onFranchiseChange($event)" [(ngModel)]="franchiseCategoryValue"
                                    [ngModelOptions]="{standalone: true}">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4  " style="gap: 10px;">
                                <label class=" ct_text_wrape">Sub Category</label>
                                <div class="position-relative">
                                    <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                        [options]="subFranchiseCategory" optionLabel="sub_categories"
                                        optionValue="sub_categories" (onChange)="onFranchiseChange($event)"
                                        [(ngModel)]="subFranchiseCategoryValue" [ngModelOptions]="{standalone: true}">
                                    </p-dropdown>

                                </div>

                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="mb-4 " style="gap: 10px">
                                <label class="ct_text_wrape">Calculation Method</label>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                    [options]="calculationGrid" optionLabel="calculationmethod"
                                    optionValue="calculationmethod" (onChange)="onCalculationMethodChange($event)">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="averageMethod">
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Franchise Space</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control Dashboard-tab text-white"
                                        placeholder="Enter value" name="franchise_space" ngModel />
                                    <div class="ct_quantity_text">
                                        <p>m2</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="franchiseMethod">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-3">Input Facility emissions for the selected month</label>
                                <!-- <p>
                                                                <a class="trackingsubmitb"
                                                                    href="assets/FranchiseScope12_Template.xlsx"
                                                                    download="">Click
                                                                    here to
                                                                    download template</a>
                                                            </p> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4" style="gap: 10px;">
                                    <label class=" ct_text_wrape">Scope1
                                        Emissions</label>
                                    <div class="position-relative">
                                        <input type="text" class="form-control Dashboard-tab text-white"
                                            placeholder="Enter Scope1 Emissions" name="scope1_emission" ngModel />
                                        <div class="ct_quantity_text">
                                            <p>kg C02e</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4" style="gap: 10px;">
                                    <label class=" ct_text_wrape">Scope2
                                        Emissions</label>
                                    <div class="position-relative">
                                        <input type="text" class="form-control Dashboard-tab text-white"
                                            placeholder="Enter Scope2 Emissions" name="scope2_emission" ngModel />
                                        <div class="ct_quantity_text">
                                            <p>kg C02e</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </ng-container>


                </div>

            </div>
            <div class="col-12 mt-4 pt-3 ml-3 text-center">
                <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
            </div>
        </div>
    </div>
</form>