<div class="row text-white">
    <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
        <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
            Fire Extinguisher
        </p>
        <div class="ct_how_use_tooltip_main">
            <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
            <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                <div>
                    <p class="ct_fs_16 ">Emissions occur directly from the leakage or
                        discharge of the extinguishing agents. The fire extinguishers must
                        be owned or controlled by the organization. Common agents include
                        halons, HFCs, and other fluorinated gases.
                    </p>
                    <h5 class="ct_fs_16  mb-0">To collect emissions data for fire
                        extinguishers owned by company, follow these steps:
                    </h5>
                    <ol>
                        <li>Number and types of fire extinguishers (e.g., CO₂, dry chemical,
                            halon).
                        </li>
                        <li>Location of each fire extinguisher within the facility.
                        </li>
                        <li>Relevant departments for collecting the data - Environment,
                            Health and Safety/ Facilities Management department
                        </li>
                    </ol>
                    <p>You can download the ‘Fire Extinguisher Template’ to understand the
                        breakdown of gas used.
                    </p>
                    <h5 class="ct_fs_16  mb-0">How to use the tool for entering data
                        emissions
                    </h5>
                    <ol>
                        <li>
                            Select the months and year for which you want to enter the
                            emissions data. If you select multiple months, same data will be
                            replicated for the months selected.
                        </li>
                        <li>Once submitted, data is sent for approval. Manager of facility
                            or the admin has approval rights. Only the approved data is
                            included in emissions calculations. You can check the approval
                            status in ‘Status’ tab
                        </li>
                        <li>User can attach the bills, invoices as attachment for record
                            purpose.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

    <div class="trackingContent">
        <div class="row mt-4 mx-2">


            <div class="col-lg-6">
                <label for="fname">No. of Extinguisher</label>
                <input required ngModel name="ExtinguisherNo" #ExtinguisherNo="ngModel" ExtinguisherNo id="search-input"
                    type="text" placeholder="Enter no of extinguisher" class="form-control Dashboard-tab text-white" />
                <p class="validation"
                    *ngIf="ExtinguisherNo.errors?.['required']  && dataEntryForm.submitted && ExtinguisherNo.touched">
                    No. of Extinguisher value required.
                </p>
            </div>
            <div class="col-lg-6">
                <label pTooltip="Quantity of CO2 Makeup" tooltipPosition="top" for="fname">Amount of C02
                    used</label>
                <div class="position-relative">
                    <input required ngModel name="coo" #coo="ngModel" placeholder="Enter value" id="search-input"
                        type="number" class="form-control Dashboard-tab text-white" />
                    <p class="validation" *ngIf="coo.errors?.['required']  && dataEntryForm.submitted && coo.touched">
                        Amount required.
                    </p>

                </div>


            </div>

            <div class="col-4 mt-4">
                <label for="fname ">Template</label>

                <div class="">


                    <button class="px-4 trackingsubmitb w-100 ct_h_40"><a class="text-white" [href]="templateLinks"
                            download>Click here to download</a></button>
                </div>
            </div>
            <div class="col-5 mt-4">
                <label for="fname ">Attachments</label>

                <div class="d-flex justify-content-end border rounded ct_upload_btn1 ct_h_40">
                    <p-fileUpload #fileUpload mode="basic" accept=".jpg,.png,.pdf" chooseLabel="Please select a File"
                        (onSelect)="
                    onFileSelected($event.files)
                "></p-fileUpload>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5 pt-3 ml-3 text-center">
        <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
    </div>
</form>