<div class="row text-white">
    <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
        <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
            Home Office
        </p>
        <div class="ct_how_use_tooltip_main">
            <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
            <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                <div>
                    <p>Emissions associated with company staff working from home, primarily
                        due to energy consumption in heating, cooling, lighting, usage of
                        computer devices and internet.

                    </p>
                    <h5 class="mb-2 ct_fs_16">Three cases have been covered in this category
                        -

                    </h5>

                    <ol style="list-style: upper-alpha;">
                        <li>With cooling – Summer months for which staff is working from
                            home with the usage of air conditioning (along with office
                            devices)

                        </li>
                        <li>With heating – Winter months for which staff is working from
                            home with the usage of heating devices (along with office
                            devices).
                        </li>
                        <li>No heating / cooling – Months for which staff is working from
                            home with only office devices (computer and internet)
                            contributing to emissions and no usage of heating / cooling.
                        </li>
                    </ol>

                    <h5 class="ct_fs_16 mb-0">To collect emissions data for home office
                        work, follow these steps:


                    </h5>
                    <ol>
                        <li>Setup surveys or questionnaires for home office work. Select
                            sample set of employees working in different location to get a
                            good estimate of the total work from home staff.

                        </li>
                        <li>Manual data tracking (i.e. spreadsheets / journals) to maintain
                            the data of home office work


                        </li>
                        <li>
                            Department responsible for collecting the data – Human resources
                            department


                        </li>

                    </ol>
                    <h5 class="ct_fs_16 mb-0">How to use the tool for entering data
                        emissions
                    </h5>
                    <ol>
                        <li>Select the year for which you want to enter the data. Note – the
                            data is only entered once for the entire year.
                        </li>
                        <li>
                            Enter the no. of employees working from home in the three
                            different setups.

                        </li>
                        <li>
                            Enter the average no. of days per week and the no. of months
                            each year for a certain work from home setup.
                        </li>

                    </ol>

                </div>

            </div>
        </div>
    </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

    <div class="trackingFooter">
        <div class="row mt-4 mb-0 pb-3 mx-2">

            <div class="col-12">
                <div class=" mt-0">


                    <div class="row ct_home_office_table">
                        <table class="table  table-bordered">
                            <thead class="thead-dark">
                                <tr>

                                    <th scope="col" style="border-top-width: 0px;">Type of
                                        home office</th>
                                    <th scope="col" style="border-top-width: 0px;">Number of
                                        employees work from home</th>
                                    <th scope="col" style="border-top-width: 0px;">No of
                                        days / week work from home</th>
                                    <th scope="col" style="border-top-width: 0px;">No of
                                        months</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>With cooling</td>
                                    <td><input type="number" class="form-control" [(ngModel)]="noofemployees_1"
                                            name="noofemployees_1" placeholder="Enter no of employee"></td>
                                    <td><input type="number" class="form-control" [(ngModel)]="noofdays_1"
                                            name="noofdays_1" placeholder="Enter no of days">
                                    </td>
                                    <td><input type="number" class="form-control" [(ngModel)]="noofmonths_1"
                                            name="noofmonths_1" placeholder="Enter no of months"></td>
                                </tr>
                                <tr>

                                    <td>With heating</td>
                                    <td><input type="number" class="form-control" [(ngModel)]="noofemployees_2"
                                            name="noofemployees_2" placeholder="Enter no of employee"></td>
                                    <td><input type="number" class="form-control" [(ngModel)]="noofdays_2"
                                            name="noofdays_2" placeholder="Enter no of days">
                                    </td>
                                    <td><input type="number" class="form-control" [(ngModel)]="noofmonths_2"
                                            name="noofmonths_2" placeholder="Enter no of months"></td>
                                </tr>
                                <tr>

                                    <td>No cooling / no heating</td>
                                    <td><input type="number" class="form-control" [(ngModel)]="noofemployees_3"
                                            name="noofemployees_3" placeholder="Enter no of employee"></td>
                                    <td><input type="number" class="form-control" [(ngModel)]="noofdays_3"
                                            name="noofdays_3" placeholder="Enter no of days">
                                    </td>
                                    <td><input type="number" class="form-control" [(ngModel)]="noofmonths_3"
                                            name="noofmonths_3" placeholder="Enter no of months"></td>
                                </tr>






                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="col-12 mt-4 pt-3 ml-3 text-center">
                <button type="submit" class="px-4 trackingsubmitb">
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>