<p class="mb-2 pb-2 mt-3 text-dark border-bottom">
  {{ category_name}}
</p>


<p-table #dt [value]="data" [paginator]="true" [rowHover]="true" dataKey="id" [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50, 100,500]" styleClass="statusTable ct_status_tble_230_space ct_status_table_main"
  [loading]="loading" [loadingIcon]="'pi pi-spinner pi-spin'" [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
  <ng-template pTemplate="caption">
    <div class="flex justify-content-between">
      <button class="px-4 trackingsubmitb et_filter_icon_pesuo" (click)="clear34(dt)"> Clear</button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <ng-container *ngFor="let col of columns">
        <!-- If this column is array -->
        <ng-container *ngIf="col.isArray; else normalHeader">
          <ng-container *ngIf="data[0]">
            <ng-container *ngFor="let item of data[0][col?.field]; let i = index">
              <th> {{ item.water_withdrawl || item.water_discharge }} (%) </th>
              <th *ngIf="col.xtra"> {{ col.xtra }} </th>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- Normal header -->
        <ng-template #normalHeader>
          <th class="ct_filter_icon_hove_active_1234">
            {{ col.header }}
            <i *ngIf="col.filter" class="pi" [ngClass]="columnFilterValues[col.field] ? 'pi-filter-fill' : 'pi-filter'"
              (click)="openDirectFilter($event, drop)" style="cursor:pointer; margin-left:6px"></i>
            <p-dropdown #drop [(ngModel)]="columnFilterValues[col.field]" [ngModelOptions]="{ standalone: true }"
              [options]="col.filterOptions" optionLabel="name" [optionValue]="col.filterField" [filter]="true"
              filterBy="name" appendTo="body" placeholder="Any" class="ct_select_op_input hidden-multiselect"
              (onChange)="applyFilter($event.value, col.field, dt)">
            </p-dropdown>
          </th>
        </ng-template>
      </ng-container>

      <th>Year</th>
      <!-- <th>Month</th> -->
      <th>Status</th>
      <th>Emission (tCO2e)</th>
      <th>User</th>
    </tr>
  </ng-template>


  <ng-template pTemplate="body" let-row>
    <tr>
      <ng-container *ngFor="let col of columns">

        <!-- If it's an array -->
        <ng-container *ngIf="col.isArray; else normalCell">
          <ng-container *ngFor="let item of row[col.field]; let i = index">
            <td>
              {{ item.kilolitres || item.withthtreatment }}
            </td>
            <td *ngIf="col.xtra"> {{item.treated_water }} </td>
          </ng-container>
        </ng-container>

        <!-- Normal column -->
        <ng-template #normalCell>
          <td>
            <ng-container [ngSwitch]="col.field">
              <!-- combineVehicle -->
              <ng-container *ngSwitchCase="'productcodes'">
                {{ row.product_code_name }} {{ row.productCode }}
              </ng-container>
              <ng-container *ngSwitchCase="'combineVehicle'">
                {{ row.category_name }} - {{ row.type }}
              </ng-container>
              <!-- franchise_spaceLease -->
              <ng-container *ngSwitchCase="'franchise_spaceLease'">
                {{ row.franchise_space }} {{ row.unit }}
              </ng-container>

              <!-- tablename -->
              <ng-container *ngSwitchCase="'tablename'">
                <ng-container [ngSwitch]="row[col.field]">
                  <ng-container *ngSwitchCase="'stationarycombustionde'">
                    Stationary Combustion
                  </ng-container>
                  <ng-container *ngSwitchCase="'dbo.renewableelectricityde'">
                    Electricity
                  </ng-container>
                  <ng-container *ngSwitchCase="'dbo.heatandsteamde'">
                    Heat and Steam
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ row[col.field] }}
                  </ng-container>
                </ng-container>
              </ng-container>

              <!-- Default -->
              <ng-container *ngSwitchDefault>
                {{ row[col.field] }}
              </ng-container>

            </ng-container>
          </td>
        </ng-template>

      </ng-container>

      <!-- Fixed extra columns -->
      <td>{{ row.year }}</td>
      <!-- <td>{{ row.month }}</td> -->
      <td>{{ row.status }}</td>
      <td>{{ row.emission }}</td>
      <td>{{ row.user_name }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length + 4" class="text-center py-4">
        No data available
      </td>
    </tr>
  </ng-template>
</p-table>