<div class="row text-white">
      <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
            <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
                  Purchased Goods and Services
            </p>
            <div class="d-flex align-items-center ml-auto" style="gap:10px">
                  <div>
                        <button class="btn ct_scoope_1_tab ct_view_request_btn px-4 trackingsubmitb" type="button"
                              (click)="bulkUploadPG()"> {{singlePGSTab ? 'Bulk Upload' :
                                                'Single Upload'}}</button>

                  </div>

            </div>
            <div class="ct_how_use_tooltip_main">
                  <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
                  <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                        <div *ngIf="singlePGSTab">
                              <p class="ct_fs_16 mb-2">
                                    This category includes all upstream (i.e., cradle-to-gate) emissions
                                    from the production of products purchased or acquired by the
                                    reporting company in the reporting year. Products include both goods
                                    (tangible products) and services (intangible products).
                              </p>

                              <h5 class="mb-0 ct_fs_16">Purchased goods can be further classified
                                    into:

                              </h5>
                              <ol>
                                    <li>Standard goods – Typically have shorter lifespan. They are
                                          directly related to making the final goods (such as intermediate
                                          goods) or are non-product related inputs (such as office
                                          supplies or mfg. spare parts). The emissions are mainly
                                          associated with production, transportation, and disposal. E.g.
                                          building material, electronics, metal, plastic


                                    </li>
                                    <li>Capital goods – These are final products that have a longer
                                          lifespan (e.g. buildings, machinery, vehicles) and are used to
                                          produce goods, provide service, or sell merchandise. The
                                          emissions are primarily associated with production, use and
                                          maintenance.
                                    </li>

                              </ol>
                              <h5 class="ct_fs_16 mb-0">To collect emissions data for purchase goods
                                    and services used by the company, follow these steps:

                              </h5>
                              <ol>
                                    <li>Identify list of all purchased items: Create a comprehensive
                                          inventory of all goods and services procured by the company.

                                    </li>
                                    <li>Categorize purchases: Group items into categories (e.g., raw
                                          materials, components, office supplies, professional services)
                                          or based on their product code.


                                    </li>
                                    <li>
                                          Try to collect the purchased amount data as much as possible in
                                          quantity, this gives more accurate emissions results than spend
                                          based data.

                                    </li>
                                    <li>Supplier Identification: Identify key suppliers for each
                                          category and map out their supply chains.
                                    </li>
                                    <li>Data Requests: Request specific emissions data from suppliers,
                                          including energy consumption, raw material usage, and
                                          transportation details.
                                    </li>
                                    <li>Relevant department for collecting the data: Procurement /
                                          Supply chain department, Finance/Accounting Department,
                                          Logistics Department
                                    </li>
                              </ol>
                              <h5 class="ct_fs_16 mb-0">How to use the tool for entering emissions
                                    data

                              </h5>
                              <ol>
                                    <li>Select the months and year for which you want to enter the
                                          emissions data. If you select multiple months, same data will be
                                          replicated for the months selected.
                                    </li>
                                    <li>Select the product type either based on category or product code
                                          (HSN, ISIC, SAC etc). For entering the data in bulk, download
                                          the attached template and fill in the details.
                                    </li>
                                    <li>In the vendor section, add the details of the supplier and the
                                          specific emissions factors in KgCO2e/unit, if available.
                                    </li>
                                    <li>Once submitted, data is sent for approval. Manager of facility
                                          or the admin has approval rights. Only the approved data is
                                          included in emissions calculations. You can check the approval
                                          status in ‘Status’ tab
                                    </li>
                              </ol>

                        </div>
                        <div *ngIf="!singlePGSTab">
                              <p class="ct_fs_16 mb-2">
                                    <span class="ct_fw_600">Bulk upload - </span> Use the Bulk Upload
                                    option to quickly
                                    enter multiple records

                              </p>

                              <p class="mb-0 ct_fs_16">Steps to To enter data in bulk:
                              </p>
                              <ol>
                                    <li>Download the bulk upload template from the tool.</li>
                                    <li>Fill in the required fields: product category, description,
                                          purchase date, quantity, vendor details, and vendor emission
                                          factors (if available).
                                    </li>
                                    <li>
                                          Click on <span class="ct_fw_600">‘Select file to upload’</span>
                                          and choose the completed template.

                                    </li>

                              </ol>
                              <p class="ct_fs_16 mb-0">There are three possible outcomes when the
                                    tool maps <span class="ct_fw_600">product categories</span> to
                                    <span class="ct_fw_600">product descriptions:</span>
                              </p>
                              <ul class="pl-3">
                                    <li><span class="ct_fw_600">Matched</span> – Category is correctly
                                          linked to the
                                          description


                                    </li>
                                    <li>
                                          <span class="ct_fw_600">Unmatched</span> – No category is
                                          assigned

                                    </li>
                                    <li>
                                          <span class="ct_fw_600">Matched / other category</span>– Scope 3
                                          category, other
                                          than purchased goods & services and capital goods is assigned
                                          (e.g., business travel)


                                    </li>

                              </ul>
                              <p class="mb-2">Only the <span class="ct_fw_600">matched</span> items go
                                    for emission
                                    calculations.
                              </p>
                              <p class="mb-2">
                                    Tool uses fuzzy search logic to match the entries with database
                                    categories. In case of <span class="ct_fw_600">unmatched</span>
                                    entries or <span class="ct_fw_600">matched</span>
                                    entries where the user is unsatisfied with the match (as the match
                                    is not always 100% accurate), they can do manual matching by
                                    clicking on the blue ‘action’ button. If there is no match found in
                                    the database, the status of the matched item can be changed to
                                    unmatched.

                              </p>
                              <p class="mb-2">
                                    For <span class="ct_fw_600">matched/other category</span> entries,
                                    if the user wants
                                    to include it
                                    in the purchased goods & services category, they can change the
                                    status to <span class="ct_fw_600">matched</span> which makes it a
                                    part of the matched
                                    list used for
                                    emission calculations.

                              </p>
                              <p class="mb-2">
                                    In case of <span class="ct_fw_600">unmatched</span> entries, users
                                    can
                                    use the <span class="ct_fw_600">AI
                                          Search</span> to
                                    automatically assign correct categories. Steps for AI Run:

                              </p>

                              <ol>
                                    <li>Tap on the <span class="ct_fw_600">‘Run AI Match’</span> button.

                                    </li>
                                    <li>A new window will open where the AI will begin matching product
                                          categories to the descriptions.

                                    </li>
                                    <li>Monitor the AI match progress; click the <span
                                                class="ct_fw_600">‘Refresh’</span>
                                          button to check the latest status.

                                    </li>
                                    <li>Once the batch process is complete, tap <span class="ct_fw_600">‘Upload
                                                Data’</span> to import the matched data into the existing
                                          list.

                                    </li>
                                    <li>
                                          The AI Run window is <span class="ct_fw_600">user-specific</span> —only the
                                          initiating user can
                                          access and operate it.

                                    </li>
                              </ol>
                              <p class="mb-2">The final list of <span class="ct_fw_600">matched</span>
                                    entries (the
                                    matched items
                                    from manual
                                    match plus the ones mapped with AI) will used for emission
                                    calculation.
                              </p>

                        </div>
                  </div>
            </div>
      </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

      <div class="trackingFooter">
            <div class="row" *ngIf="singlePGSTab">
                  <div class="col-md-6 mt-3">
                        <div class="mb-4" style="gap: 10px;">
                              <label class=" ct_text_wrape">Product Code Conv.</label>
                              <div class="position-relative">
                                    <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                          (onChange)="onProductHSNChange($event)" ngModel [(ngModel)]="productHSNSelect"
                                          [options]="purchaseHSNCode" optionLabel="code" optionValue="id" name="HSNCode"
                                          appendTo="body">
                                    </p-dropdown>

                              </div>
                        </div>
                  </div>
                  <div class="col-md-6 mt-3">
                        <div class="mb-4" style="gap: 10px;">
                              <label class=" ct_text_wrape">Is Entry annual ?</label>
                              <div class="position-relative">
                                    <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                          (onChange)="onAnnualChange($event)" [options]="annualEntry" ngModel
                                          optionLabel="name" optionValue="value" [(ngModel)]="isAnnual"
                                          [ngModelOptions]="{standalone: true}" placeholder="Please select">
                                    </p-dropdown>

                              </div>
                        </div>
                  </div>
                  <div class="col-md-12 table-responsive" style="height: 44vh;">
                        <table class="table ct_home_office_table" style="height:357px">
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">S.No.</th>
                                          <th scope="col">Purchase type</th>
                                          <th scope="col">Product/Service</th>

                                          <th *ngIf="annualMonths" scope="col">Month of purchase</th>
                                          <th scope="col">Quantity</th>
                                          <th scope="col">Unit</th>
                                          <th scope="col">Vendor</th>
                                          <th scope="col">Vendor Specific EF</th>
                                          <th scope="col">EF unit</th>
                                    </tr>
                              </thead>
                              <tbody #commuteTable>
                                    <tr *ngFor="let row of rowsPurchased">
                                          <td scope="row">{{ row.id }}</td>

                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [(ngModel)]="row.productService"
                                                      [ngModelOptions]="{standalone: true}"
                                                      [options]="purchaseProductTypes"
                                                      (onChange)="onProductStandardChange($event , row)"
                                                      optionLabel="typesofpurchasename" optionValue="id"
                                                      placeholder="Select type" appendTo="body">
                                                </p-dropdown>
                                          </td>
                                          <td>
                                                <button type="button"
                                                      *ngIf="!row.productType && row.multiLevelItems.length === 0"
                                                      class="placeholder form-control" style="    white-space: nowrap;">
                                                      Choose product type
                                                </button>
                                                <ngx-dropdown-treeview *ngIf="row.multiLevelItems.length >0"
                                                      class="ct_custom_dropdown_123" [(ngModel)]="row.productType"
                                                      [ngModelOptions]="{standalone: true}"
                                                      [items]="row.multiLevelItems"
                                                      (selectedChange)="onSelectedChange($event, row)">
                                                </ngx-dropdown-treeview>
                                          </td>

                                          <td *ngIf="annualMonths">
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      ngModel [options]="monthsTable" optionLabel="name"
                                                      [(ngModel)]="row.months" optionValue="value"
                                                      name="months_{{row.id}}">
                                                </p-dropdown>

                                          </td>
                                          <td>
                                                <input type="number" class="form-control"
                                                      style="width:200px;height:38px" placeholder="Enter quantity"
                                                      name="quantity_{{row.id}}" [(ngModel)]="row.quantity">
                                          </td>
                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [options]="purchaseGoodsUnitsGrid" optionLabel="units"
                                                      [(ngModel)]="row.selectedUnit" (ngModelChange)="onUnitChange(row)"
                                                      optionValue="units" name="unit_{{row.id}}" appendTo="body">
                                                </p-dropdown>

                                          </td>
                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [options]="vendorList" optionLabel="name"
                                                      [(ngModel)]="row.vendorName" name="vendor_{{row.id}}"
                                                      placeholder="Select vendor" appendTo="body">
                                                </p-dropdown>
                                          </td>
                                          <td>
                                                <input type="number" class="form-control"
                                                      style="width:200px;height:38px" [(ngModel)]="row.vendorspecificEF"
                                                      name="vendorSpecific_{{row.id}}" placeholder="Enter specific EF">
                                          </td>
                                          <td>
                                                <input disabled type="text" class="form-control"
                                                      style="width:200px;height:38px" name="vendorspecificEF_{{row.id}}"
                                                      [(ngModel)]="row.vendorspecificEFUnit">
                                          </td>
                                    </tr>


                              </tbody>
                              <p class="ml-2 trackingsubmitb" (click)="addPurchaseRows()">+</p>
                        </table>
                  </div>

                  <div class="col-12 mt-2 d-flex gap-3 align-items-end">
                        <div class="col-4 mt-2">
                              <label for="fname ">Attachments</label>
                              <p-toast></p-toast>
                              <div class="d-flex justify-content-end border rounded ct_upload_btn1 et_btn_h_38_900">
                                    <p-fileUpload #fileUpload mode="basic" accept=".jpg,.png,.pdf"
                                          chooseLabel="Please select a File"
                                          (onSelect)="onFileSelected($event.files)"></p-fileUpload>
                              </div>
                        </div>
                        <button *ngIf="!singlePGSTab" type="button"
                        class="btn ct_scoope_1_tab et_light_blue_123 ct_view_request_btn px-4 trackingsubmitb" style="height: 38px;"
                        (click)="submitUnmatchWithAI()">
                        Run AI Match</button>
                        <!-- <button type="submit" class="px-4 trackingsubmitb">
                              Submit
                        </button> -->
                        <app-submit-button [isLoading]="isSubmitting" text="Submit" class="mx-auto"></app-submit-button>
                  </div>
            </div>
            <div class="row " *ngIf="excelUploadTable">
                  <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between ct_gap_10 flex-wrap py-3">
                              <div class="mb-0" style="gap: 10px;">
                                    <label class="ct_text_wrape">Product Code Conv.</label>
                                    <div class="position-relative">
                                          <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                (onChange)="onProductHSNChange2($event)" ngModel
                                                [(ngModel)]="productHSNSelect" [options]="purchaseHSNCode"
                                                optionLabel="code" optionValue="id" name="HSNCode">
                                          </p-dropdown>

                                    </div>
                              </div>

                              <div class="d-flex align-items-center ml-auto" style="gap:10px">
                                    <button
                                          class="btn ct_scoope_1_tab ct_view_request_btn px-4 trackingsubmitb  et_light_blue_123"
                                          (click)="openProgresstab()" type="button">AI Match
                                          Status</button>
                                  

                              </div>
                              <div class="d-flex align-items-center ct_gap_10 flex-wrap">
                                    <div>
                                          <div
                                                class="d-flex justify-content-end border rounded ct_upload_btn1 en_py_5_btn_new_455">
                                                <p-fileUpload #fileUpload mode="basic" accept=".xlsx, .xls" class=""
                                                      chooseLabel="Upload data file" (onSelect)="onPurchaseGoodsUpload($event.files,fileUpload)
                                                        "></p-fileUpload>
                                          </div>
                                          <!-- <input type="file" class="form-control"  (change)="onPurchaseGoodsUpload($event)" accept=".xlsx, .xls"  id="ct_product_upload_file" > -->
                                    </div>
                                    <a (click)="downloadPurchaseGoodsExcel()" download
                                          class="px-4 trackingsubmitb en_py_5_btn_new_455"><i
                                                class="fa-solid fa-download mr-2"></i>Download Template</a>

                              </div>
                        </div>

                  </div>
                  <div class="col-md-12 table-responsive mt-2" style="height: 46vh;">
                        <table class="table ct_home_office_table">
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">S.No.</th>
                                          <th scope="col">Product Category</th>
                                          <th scope="col">Product Description</th>
                                          <th scope="col">Product Type</th>
                                          <th scope="col">Product Name</th>
                                          <th scope="col">Purchase date</th>

                                          <!-- <th *ngIf="annualMonths" scope="col">Month of purchase</th> -->
                                          <th scope="col" style="width : 6rem; white-space:normal">Value/
                                                Quantity</th>
                                          <th scope="col">Unit</th>
                                          <th scope="col">Vendor</th>
                                          <th scope="col">Vendor Specific EF</th>
                                          <th scope="col" class="dropdown">Status <i class="fa fa-filter" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                <div class="dropdown-menu ct_custom_drop_678" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">All</a>
                                          <a class="dropdown-item" href="#">Match</a>
                                          <a class="dropdown-item" href="#">Unmatch</a>
                                          </div>
                                          </th>
                                          <th scope="col" class="text-center">Action</th>
                                    </tr>
                              </thead>
                              <tbody #commuteTable>

                                    <tr *ngFor="let product of newExcelData; let i = index">
                                          <td>{{ i + 1 }}</td>
                                          <td>
                                                <ng-container>
                                                      <textarea *ngIf="product.isEditing" type="text"
                                                            [(ngModel)]="product['Product Category']"
                                                            [ngModelOptions]="{standalone: true}"
                                                            class="form-control text-dark"></textarea>
                                                      <span
                                                            *ngIf="!product.isEditing">{{ product['Product Category'] }}</span>
                                                </ng-container>

                                          </td>
                                          <td>
                                                <ng-container>
                                                      <textarea *ngIf="product.isEditing" type="text"
                                                            [(ngModel)]="product['Product Description']"
                                                            [ngModelOptions]="{standalone: true}"
                                                            class="form-control text-dark"></textarea>
                                                      <span
                                                            *ngIf="!product.isEditing">{{ product['Product Description'] }}</span>
                                                </ng-container>

                                          </td>
                                          <td>
                                                <ng-container>
                                                      <textarea *ngIf="product.isEditing" type="text"
                                                            [(ngModel)]="product.productResult.typesofpurchasename"
                                                            [ngModelOptions]="{standalone: true}"
                                                            class="form-control text-dark"></textarea>
                                                      <span *ngIf="!product.isEditing">{{
                                                                    product.productResult?.typesofpurchasename }}</span>
                                                </ng-container>

                                          </td>
                                          <td>
                                                <ng-container>
                                                      <textarea *ngIf="product.isEditing" type="text"
                                                            [(ngModel)]="product.code"
                                                            [ngModelOptions]="{standalone: true}"
                                                            class="form-control text-dark"></textarea>
                                                      <span *ngIf="!product.isEditing">{{
                                                                    product.productResult?.product }} {{ product.code
                                                                    }}</span>
                                                </ng-container>

                                          </td>
                                          <td>
                                                <input *ngIf="product.isEditing" type="text"
                                                      [(ngModel)]="product['Purchase Date']"
                                                      [ngModelOptions]="{standalone: true}" class="form-control" />
                                                <span *ngIf="!product.isEditing">{{ product['Purchase Date']
                                                                }}</span>
                                          </td>
                                          <td>
                                                <input *ngIf="product.isEditing" type="text"
                                                      [(ngModel)]="product['Value / Quantity']"
                                                      [ngModelOptions]="{standalone: true}" class="form-control" />
                                                <span
                                                      *ngIf="!product.isEditing">{{ product['Value / Quantity'] }}</span>
                                          </td>
                                          <td>
                                                <input *ngIf="product.isEditing" type="text"
                                                      [(ngModel)]="product['Unit']"
                                                      [ngModelOptions]="{standalone: true}" class="form-control" />
                                                <span *ngIf="!product.isEditing">{{ product['Unit']
                                                                }}</span>
                                          </td>
                                          <td>
                                                <input *ngIf="product.isEditing" type="text"
                                                      [(ngModel)]="product['Vendor']"
                                                      [ngModelOptions]="{standalone: true}" class="form-control" />
                                                <span *ngIf="!product.isEditing">{{ product['Vendor']
                                                                }}</span>
                                          </td>
                                          <td>

                                                <span *ngIf="product['Vendor Specific EF'] !==''">{{
                                                                product['Vendor Specific EF']}}&nbsp;
                                                      {{product['Vendor Specific Unit'] }}</span>
                                                <span *ngIf="product['Vendor Specific EF'] ===''"></span>
                                          </td>
                                          <td>

                                                <span [ngClass]="{'redColor':!product.is_find}">{{product.is_find
                                                                ? (product.productResult?.other_category_flag === '1' ?
                                                                'Matched/Other Cat' : 'Matched') : 'Unmatched' }}</span>
                                          </td>


                                          <td class="d-flex justify-content-center align-items-center">
                                                <button type="button" class="btn btn-sm btn-primary mr-1"
                                                      (click)="toggleEdit(i, product['S. No.'],product.is_find, product.productResult?.other_category_flag)"
                                                      data-toggle="modal" data-target="#exampleModal">
                                                      <i class="fa-solid fa-sync-alt"></i>
                                                </button>
                                                <button *ngIf="!product.is_find" type="button"
                                                      class="btn btn-sm btn-danger mr-1"
                                                      (click)="deletePSG(product['S. No.'])">
                                                      <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                                <!-- <button class="btn btn-sm btn-success"> Add Vendor</button> -->
                                          </td>
                                    </tr>



                              </tbody>

                        </table>
                  </div>

                  <div class="col-12 mt-2 d-flex gap-3 align-items-end">
                        <div class="col-4 mt-2">
                              <label for="fname ">Attachments</label>
                              <p-toast></p-toast>
                              <div class="d-flex justify-content-end border rounded ct_upload_btn1 et_btn_h_38_900">
                                    <p-fileUpload #fileUpload mode="basic" accept=".jpg,.png,.pdf"
                                          chooseLabel="Please select a File"
                                          (onSelect)="onFileSelected($event.files)"></p-fileUpload>
                              </div>
                        </div>
                        <button *ngIf="!singlePGSTab" type="button"
                        class="btn ct_scoope_1_tab et_light_blue_123 ct_view_request_btn px-4 trackingsubmitb" style="height: 38px;"
                        (click)="submitUnmatchWithAI()">
                        Run AI Match</button>
                        <!-- <button type="submit" class="px-4 trackingsubmitb">
                              Submit
                        </button> -->
                        <app-submit-button [isLoading]="isSubmitting" text="Submit" class="mx-auto"></app-submit-button>
                  </div>
            </div>

            <div class="row " *ngIf="loadAITable">
                  AI table AI
                  <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between ct_gap_10 flex-wrap py-3">
                              <div class="mb-0" style="gap: 10px;">
                                    <label class="ct_text_wrape">Product Code Conv.</label>
                                    <div class="position-relative">
                                          <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                (onChange)="onProductHSNChange2($event)" ngModel
                                                [(ngModel)]="productHSNSelect" [options]="purchaseHSNCode"
                                                optionLabel="code" optionValue="id" name="HSNCode">
                                          </p-dropdown>

                                    </div>
                              </div>

                              <div class="d-flex align-items-center ml-auto" style="gap:10px">
                                    <button
                                          class="btn ct_scoope_1_tab ct_view_request_btn px-4 trackingsubmitb  et_light_blue_123"
                                          (click)="openProgresstab()" type="button">AI Match
                                          Status</button>
                                  

                              </div>
                              <div class="d-flex align-items-center ct_gap_10 flex-wrap">
                                    <div>
                                          <div
                                                class="d-flex justify-content-end border rounded ct_upload_btn1 en_py_5_btn_new_455">
                                                <p-fileUpload #fileUpload mode="basic" accept=".xlsx, .xls" class=""
                                                      chooseLabel="Upload data file" (onSelect)="onPurchaseGoodsUpload($event.files,fileUpload)
                                                        "></p-fileUpload>
                                          </div>
                                          <!-- <input type="file" class="form-control"  (change)="onPurchaseGoodsUpload($event)" accept=".xlsx, .xls"  id="ct_product_upload_file" > -->
                                    </div>
                                    <a (click)="downloadPurchaseGoodsExcel()" download
                                          class="px-4 trackingsubmitb en_py_5_btn_new_455"><i
                                                class="fa-solid fa-download mr-2"></i>Download Template</a>

                              </div>
                        </div>

                  </div>
                  <div class="col-md-12 table-responsive mt-2" style="height: 46vh;" (scroll)="onTableScroll($event)">
                        <table class="table ct_home_office_table">
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">S.No.</th>
                                          <th scope="col">Product Category</th>
                                          <th scope="col">Product Description</th>
                                          <th scope="col">Product Type</th>
                                          <th scope="col">Product Name</th>
                                          <th scope="col">Purchase date</th>

                                          <!-- <th *ngIf="annualMonths" scope="col">Month of purchase</th> -->
                                          <th scope="col" style="width : 6rem; white-space:normal">Value/
                                                Quantity</th>
                                          <th scope="col">Unit</th>
                                          <th scope="col">Vendor</th>
                                          <th scope="col">Vendor Specific EF</th>
                                          <th scope="col" class="dropdown">Status <i class="fa fa-filter" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                <div class="dropdown-menu ct_custom_drop_678" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">All</a>
                                          <a class="dropdown-item" href="#">Match</a>
                                          <a class="dropdown-item" href="#">Unmatch</a>
                                          </div>
                                          </th>
                                          <th scope="col" class="text-center">Action</th>
                                    </tr>
                              </thead>
                              <tbody #commuteTable>

                                    <tr *ngFor="let product of newExcelData; let i = index">
                                          <td>{{ i + 1 }}</td>
                                          <td>
                                                <ng-container>
                                                      <textarea *ngIf="product.isEditing" type="text"
                                                            [(ngModel)]="product['Product Category']"
                                                            [ngModelOptions]="{standalone: true}"
                                                            class="form-control text-dark"></textarea>
                                                      <span
                                                            *ngIf="!product.isEditing">{{ product['Product Category'] }}</span>
                                                </ng-container>

                                          </td>
                                          <td>
                                                <ng-container>
                                                      <textarea *ngIf="product.isEditing" type="text"
                                                            [(ngModel)]="product['Product Description']"
                                                            [ngModelOptions]="{standalone: true}"
                                                            class="form-control text-dark"></textarea>
                                                      <span
                                                            *ngIf="!product.isEditing">{{ product['Product Description'] }}</span>
                                                </ng-container>

                                          </td>
                                          <td>
                                                <ng-container>
                                                      <textarea *ngIf="product.isEditing" type="text"
                                                            [(ngModel)]="product.productResult.typesofpurchasename"
                                                            [ngModelOptions]="{standalone: true}"
                                                            class="form-control text-dark"></textarea>
                                                      <span *ngIf="!product.isEditing">{{
                                                                    product.productResult?.typesofpurchasename }}</span>
                                                </ng-container>

                                          </td>
                                          <td>
                                                <ng-container>
                                                      <textarea *ngIf="product.isEditing" type="text"
                                                            [(ngModel)]="product.code"
                                                            [ngModelOptions]="{standalone: true}"
                                                            class="form-control text-dark"></textarea>
                                                      <span *ngIf="!product.isEditing">{{
                                                                    product.productResult?.product }} {{ product.code
                                                                    }}</span>
                                                </ng-container>

                                          </td>
                                          <td>
                                                <input *ngIf="product.isEditing" type="text"
                                                      [(ngModel)]="product['Purchase Date']"
                                                      [ngModelOptions]="{standalone: true}" class="form-control" />
                                                <span *ngIf="!product.isEditing">{{ product['Purchase Date']
                                                                }}</span>
                                          </td>
                                          <td>
                                                <input *ngIf="product.isEditing" type="text"
                                                      [(ngModel)]="product['Value / Quantity']"
                                                      [ngModelOptions]="{standalone: true}" class="form-control" />
                                                <span
                                                      *ngIf="!product.isEditing">{{ product['Value / Quantity'] }}</span>
                                          </td>
                                          <td>
                                                <input *ngIf="product.isEditing" type="text"
                                                      [(ngModel)]="product['Unit']"
                                                      [ngModelOptions]="{standalone: true}" class="form-control" />
                                                <span *ngIf="!product.isEditing">{{ product['Unit']
                                                                }}</span>
                                          </td>
                                          <td>
                                                <input *ngIf="product.isEditing" type="text"
                                                      [(ngModel)]="product['Vendor']"
                                                      [ngModelOptions]="{standalone: true}" class="form-control" />
                                                <span *ngIf="!product.isEditing">{{ product['Vendor']
                                                                }}</span>
                                          </td>
                                          <td>

                                                <span *ngIf="product['Vendor Specific EF'] !==''">{{
                                                                product['Vendor Specific EF']}}&nbsp;
                                                      {{product['Vendor Specific Unit'] }}</span>
                                                <span *ngIf="product['Vendor Specific EF'] ===''"></span>
                                          </td>
                                          <td>

                                                <span [ngClass]="{'redColor':!product.is_find}">{{product.is_find
                                                                ? (product.productResult?.other_category_flag === '1' ?
                                                                'Matched/Other Cat' : 'Matched') : 'Unmatched' }}</span>
                                          </td>


                                          <td class="d-flex justify-content-center align-items-center">
                                                <button type="button" class="btn btn-sm btn-primary mr-1"
                                                      (click)="toggleEdit(i, product['S. No.'],product.is_find, product.productResult?.other_category_flag)"
                                                      data-toggle="modal" data-target="#exampleModal">
                                                      <i class="fa-solid fa-sync-alt"></i>
                                                </button>
                                                <button *ngIf="!product.is_find" type="button"
                                                      class="btn btn-sm btn-danger mr-1"
                                                      (click)="deletePSG(product['S. No.'])">
                                                      <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                                <!-- <button class="btn btn-sm btn-success"> Add Vendor</button> -->
                                          </td>
                                    </tr>



                              </tbody>

                        </table>
                  </div>

                  <div class="col-12 mt-2 d-flex gap-3 align-items-end">
                        <div class="col-4 mt-2">
                              <label for="fname ">Attachments</label>
                              <p-toast></p-toast>
                              <div class="d-flex justify-content-end border rounded ct_upload_btn1 et_btn_h_38_900">
                                    <p-fileUpload #fileUpload mode="basic" accept=".jpg,.png,.pdf"
                                          chooseLabel="Please select a File"
                                          (onSelect)="onFileSelected($event.files)"></p-fileUpload>
                              </div>
                        </div>
                        <button *ngIf="!singlePGSTab" type="button"
                        class="btn ct_scoope_1_tab et_light_blue_123 ct_view_request_btn px-4 trackingsubmitb" style="height: 38px;"
                        (click)="submitUnmatchWithAI()">
                        Run AI Match</button>
                        <!-- <button type="submit" class="px-4 trackingsubmitb">
                              Submit
                        </button> -->
                        <app-submit-button [isLoading]="isSubmitting" text="AI Submit" class="mx-auto"></app-submit-button>
                  </div>
            </div>


            <div class="row " *ngIf="progressPSGTab">

                  <div class="col-md-12 table-responsive mt-2" style="height: 50vh;">
                        <table class="table ct_home_office_table">
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">S.No.</th>
                                          <th scope="col">File name</th>
                                          <th scope="col">Date</th>
                                          <th scope="col">No of items</th>
                                          <th scope="col">Approx time</th>
                                          <th scope="col">Status </th>


                                          <th scope="col" class="text-center">Action</th>
                                    </tr>
                              </thead>
                              <tbody #commuteTable>
                                    <tr *ngFor="let product of psg_ai_progress_data; let i = index">
                                          <td scope="row">{{i + 1}}</td>

                                          <td>{{product.filename}}</td>
                                          <td>{{product.created_at | date: 'dd-MM-yyyy'}}</td>
                                          <td>{{product.matched_no_of_rows}}/{{product.no_of_rows}}</td>
                                          <td>{{getApproxTime(product.no_of_rows)}}</td>
                                          <td>{{product.status ? 'Completed' : 'Pending'}}</td>
                                          <td class="d-flex justify-content-center align-items-center">
                                                <button type="button" class="btn btn-sm btn-primary mr-1"
                                                      [disabled]="product.status ? false : true"
                                                      (click)="loadAIMatchData(product.id)">
                                                      Load Data
                                                </button>

                                          </td>



                                    </tr>




                              </tbody>

                        </table>
                  </div>
                  <button type="button" class="px-2 trackingsubmitb" style="margin: 20px;" (click)="refreshPSGStatus()">
                        Refresh Status
                  </button>
            </div>

      </div>
      <!-- <div class="col-12 mt-5 pt-3 ml-3 text-center">
            <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
      </div> -->
</form>


<p-dialog [(visible)]="visible2" [breakpoints]="{'960px': '75vw'}" [style]="{width: '40vw'}">

      <p-header> Match Product </p-header>
      <div class="modal-body text-white text-style Dashboard-tab ct_vertically_scroll">
            <form class="col-12">
                  <div class="mb-5 pb-0 row">
                        <div class="col-md-12 mb-">

                              <p-dropdown
                                    class="finput ct_input_white_bg13 ct_city_name_select_2_search       custom_dropdown"
                                    ngModel name="country" placeholder="Select Product" [options]="allPRoducts"
                                    [filter]="true" filterBy="product" [(ngModel)]="psg_product"
                                    [ngModelOptions]="{standalone: true}" optionLabel="product"
                                    styleClass="facilitydropdown" #country="ngModel" required
                                    (onChange)="onAllProductChange()">
                              </p-dropdown>
                        </div>





                  </div>
                  <div style="height: 280px;"></div>


            </form>

            <p-header> OR </p-header>
            <div class="d-flex gap-3 align-items-center justify-content-center">
                  <button type="button" class="px-4 trackingsubmitb mr-3" (click)="changeStatus()">Change Status to
                        Unmatch</button>
                  <button *ngIf="hideMatchButon" type="button" class="px-4 btn-warning trackingsubmitb"
                        (click)="changeStatustoMatch()">Change Status to Match</button>
            </div>
      </div>
</p-dialog>