<div class="row text-white">
    <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
        <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
            Processing of Sold Products
        </p>
        <div class="ct_how_use_tooltip_main">
            <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
            <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                <div>
                    <h5 class="mb-2 ct_fs_16">Processing of Sold products
                    </h5>
                    <p>Emissions from the processing of intermediate products sold by the
                        company. This includes emissions from further manufacturing or
                        assembly of the company’s products by other entities before use by
                        the end consumer.


                    </p>
                    <h5 class="mb-2 ct_fs_16">To collect emissions data for Processing of
                        Sold products, follow these steps:
                    </h5>

                    <ol>
                        <li>List all the intermediate products that your company sells.
                        </li>
                        <li>Use one of these methods to collect the data w.r.t processing of
                            intermediate goods:
                            <ul class="pl-3" style="list-style: lower-alpha;">
                                <li>Site specific method - collect either site-specific GHG
                                    emissions data provided by downstream value chain
                                    partners or site-specific activity data from downstream
                                    processes.
                                </li>
                                <li>Average data method - collect data on the type of
                                    downstream process(es) involved in transforming or
                                    processing sold intermediate products into final
                                    products. It takes industry average emission factors to
                                    estimate the final emissions and is relatively less
                                    accurate than the first method.
                                </li>
                            </ul>
                        </li>
                    </ol>

                    <h5 class="ct_fs_16 mb-0">How to use the tool for entering data
                        emissions
                    </h5>
                    <ol>
                        <li>Select the “Intermediate Good category” applicable to your
                            company from the dropdown.

                        </li>
                        <li>Enter the value of the intermediate good in kg/tonnes/litres.
                        </li>
                        <li>Select the calculation method. If ‘Facility specific method’ is
                            selected, download the template to collect Scope1 and Scope2
                            emissions data associated with the downstream processes.
                        </li>

                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

    <div class="trackingFooter">
        <div class="row mt-4 mb-3 mb-5 pb-5 mx-2">

            <div class="col-12">
                <div class=" mt-0">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Intermediate good
                                    Category</label>
                                <p-dropdown class="ct_select_op_input ct_chev_icon_dark230"
                                    [options]="intermediateGoods" [(ngModel)]="goodsId"
                                    [ngModelOptions]="{standalone: true}" placeholder="Select category"
                                    optionLabel="Industry" optionValue="Industry"
                                    (onChange)="onpurchaseGoodsCategoryChange($event)">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>


                    <div class="row" *ngIf="onIndustrySelected">
                        <div class="col-md-6">

                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Processing acitivity to
                                    transform to final product</label>
                                <p-dropdown class="ct_select_op_input ct_chev_icon_dark230"
                                    [options]="productActivitySubTypes" optionLabel="sector" optionValue="sector"
                                    name="sector" placeholder="Select Activity" [(ngModel)]="processing_acitivity"
                                    [ngModelOptions]="{standalone: true}" (onChange)="onpurchaseActivityChange($event)">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="onActivitySelected">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Sub activity for the
                                    processing</label>
                                <p-dropdown class="ct_select_op_input ct_chev_icon_dark230" [options]="activitySubTypes"
                                    [(ngModel)]="sub_sector" [ngModelOptions]="{standalone: true}"
                                    optionLabel="sub_sector" optionValue="sub_sector">
                                </p-dropdown>
                            </div>
                        </div>


                    </div>
                    <div class="row" *ngIf="OthersSecledted">
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Processing
                                    acitivity</label>
                                <div class="position-relative">
                                    <input type="number" placeholder="Enter activity"
                                        class="form-control Dashboard-tab text-white" name="processing_acitivity"
                                        ngModel />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Sub activity for the
                                    processing</label>
                                <div class="position-relative">
                                    <input type="number" placeholder="Enter activity"
                                        class="form-control Dashboard-tab text-white" name="sub_activity" ngModel />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Others (input the emission
                                    factor)</label>
                                <div class="position-relative">
                                    <input type="number" placeholder="Enter activity"
                                        class="form-control Dashboard-tab text-white" name="emission_factor" ngModel />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Value of sold intermediate
                                    good </label>
                                <div class="position-relative">
                                    <input type="number" class="form-control Dashboard-tab text-white"
                                        placeholder="Enter value" name="valueofsoldintermediate" ngModel />
                                    <p-dropdown class="ct_select_op_input ct_position_small_quantity"
                                        [options]="purchaseGoodsUnitsGrid" optionLabel="units" optionValue="units"
                                        [(ngModel)]="processingUnit" [ngModelOptions]="{standalone: true}">
                                    </p-dropdown>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Calculation method</label>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                    [options]="calculationPurchaseGrid" optionLabel="calculationmethod"
                                    optionValue="calculationmethod" [(ngModel)]="franchiseMethodValue"
                                    [ngModelOptions]="{standalone: true}"
                                    (onChange)="onCalculationPurchaseMethodChange($event)">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row" *ngIf="averageMethod">
                                                <div class="col-md-6">
                                                    <div class="mb-4" style="gap: 10px;">
                                                        <label class=" ct_text_wrape">Franchise Space</label>
                                                        <div class="position-relative">
                                                            <input type="text"
                                                                class="form-control Dashboard-tab text-white"
                                                                placeholder="Enter value" name="franchise_space"
                                                                ngModel />
                                                                <p-dropdown class="ct_select_op_input ct_position_small_quantity"
                                                                ngModel [options]="facilityUnits"
                                                                optionLabel="energyTypes"
                                                                optionValue="energyTypes" name="upfacilityUnits"
                                                                #upfacilityUnits="ngModel">
                                                            </p-dropdown>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->

                    <ng-container *ngIf="franchiseMethod">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-3">Enter Scope1 and Scop2 emissions in the processing of per unit of
                                    product</label>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4" style="gap: 10px;">
                                    <label class=" ct_text_wrape">Scope1
                                        Emissions</label>
                                    <div class="position-relative">
                                        <input type="number" class="form-control Dashboard-tab text-white"
                                            placeholder="Enter Scope1 Emissions" name="scope1_emission" ngModel />
                                        <div class="ct_quantity_text">
                                            <p>kg c02e / {{processingUnit}}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4" style="gap: 10px;">
                                    <label class=" ct_text_wrape">Scope2
                                        Emissions</label>
                                    <div class="position-relative">
                                        <input type="number" class="form-control Dashboard-tab text-white"
                                            placeholder="Enter Scope2 Emissions" name="scope2_emission" ngModel />
                                        <div class="ct_quantity_text">
                                            <p>kg c02e / {{processingUnit}}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </ng-container>

                </div>

            </div>
            <div class="col-12 mt-4 pt-3 ml-3 text-center">
                <button type="submit" class="px-4 trackingsubmitb">
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>