<div class="row text-white border-bottom">
      <div class="d-flex align-items-center justify-content-between w-100">
            <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
                  Flight
            <div class="ct_how_use_tooltip_main">
                  <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
                  <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                        <div>
                              <p class="ct_fs_16 mb-1">Emissions from the burning of fuels in
                                    stationary sources owned or controlled by an organization. These
                                    sources include equipment and systems that are fixed in place, such
                                    as boilers, furnaces, turbines, and other types of heating and
                                    power-generating equipment.
                              </p>
                              <ol>
                                    <li>Liquid fuels: Emissions resulting from the combustion of liquid
                                          fuels in stationary sources are a significant part of an
                                          organization’s overall carbon footprint due to the widespread
                                          use of liquid fuels such as gasoline, diesel, fuel oil,
                                          kerosene, and others.
                                    </li>
                                    <li>Solid fuels: These fuels typically include coal, peat, and other
                                          solid materials used for heating, power generation, or
                                          industrial processes.
                                    </li>
                                    <li>Gaseous fuels: These fuels are typically in a gaseous state at
                                          normal atmospheric conditions and include natural gas, propane,
                                          butane, and other similar gases used for heating, power
                                          generation, and transportation.
                                    </li>
                                    <li>Biofuels: Biofuels are derived from renewable biomass sources
                                          such as plant matter, agricultural residues, or waste materials.
                                    </li>
                                    <li>Biomass: Biomass refers to organic materials derived from plants
                                          or animals that can be used as fuel. This includes wood,
                                          agricultural residues, animal waste, and dedicated energy crops.
                                    </li>
                                    <li>Biogas: Biogas is a renewable energy source produced through the
                                          anaerobic digestion or fermentation of organic materials such as
                                          agricultural residues, food waste, sewage sludge, or energy
                                          crops.
                                    </li>
                              </ol>

                              <h5 class="ct_fs_16 mb-0">To collect stationary combustion data for
                                    emissions in a company, follow these steps:
                              </h5>
                              <ol>
                                    <li>Identify stationary combustion sources - Determine which
                                          equipment and facilities generate emissions, such as: Boilers,
                                          Furnaces, Generators, Heaters, Chillers
                                    </li>
                                    <li>Collect fuel consumption data:
                                          Fuel Purchase Records - Collect data from fuel purchase receipts
                                          and invoices.
                                          Usage Logs - Maintain logs of fuel usage in vehicles, machinery,
                                          and equipment.
                                          Meter Readings - Use meter readings for equipment that consumes
                                          liquid fuels.
                                          Operational Records - Document hours of operation for
                                          fuel-consuming equipment
                                    </li>
                                    <li>Relevant departments for collecting the data - Production
                                          department, Operational department
                                    </li>
                              </ol>
                              <h5 class="ct_fs_16  mb-0">How to use the tool for entering data
                                    emissions
                              </h5>
                              <ol>
                                    <li>Select the months and year for which you want to enter the
                                          emissions data. If you select multiple months, same data will be
                                          replicated for the months selected.
                                    </li>
                                    <li>Once submitted, data is sent for approval. Manager of facility
                                          or the admin has approval rights. Only the approved data is
                                          included in emissions calculations. You can check the approval
                                          status in ‘Status’ tab
                                    </li>
                                    <li>User can attach the bills, invoices as attachment for record
                                          purpose.
                                    </li>
                              </ol>

                              <h5 class="ct_fs_16 ">Guidance on input fields</h5>
                              <p class="mb-1"><span class="ct_fw_600">Blend type –</span> This is the
                                    blend% of biofuel (bioethanol / biodiesel). Final emission factor is
                                    the weighted average of emission factor for 100% mineral petrol /
                                    diesel and biofuel. Average blend type assumes 7% blend perc.
                              </p>
                              <p class="mb-0"><span class="ct_fw_600">Calorific Value –</span> If
                                    Gross CV of the fuel is entered, it overwrites the average CV.
                              </p>

                        </div>


                        <p class="ct_fs_16 ">Emissions occur directly from the leakage or
                              discharge of the extinguishing agents. The fire extinguishers must
                              be owned or controlled by the organization. Common agents include
                              halons, HFCs, and other fluorinated gases.
                        </p>
                        <h5 class="ct_fs_16  mb-0">To collect emissions data for fire
                              extinguishers owned by company, follow these steps:
                        </h5>
                        <ol>
                              <li>Number and types of fire extinguishers (e.g., CO₂, dry chemical,
                                    halon).
                              </li>
                              <li>Location of each fire extinguisher within the facility.
                              </li>
                              <li>Relevant departments for collecting the data - Environment,
                                    Health and Safety/ Facilities Management department
                              </li>
                        </ol>
                        <p>You can download the ‘Fire Extinguisher
                  </div>
            </div>
      </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

      <div class="trackingFooter">

            <div class="row my-3">
                  <div class="col-md-4">
                        <div class="mb-4 d-flex align-items-center" style="gap: 10px;">
                              <label class=" ct_text_wrape">Flight calc mode</label>
                              <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230" ngModel
                                    [options]="flightsTravelTypes" optionLabel="flightType" optionValue="flightType"
                                    name="flightMode" #flightMode="ngModel" (onChange)="onFlightModeChange($event)">
                              </p-dropdown>
                        </div>
                  </div>
            </div>
            <div class="col-md-12 mt-3" style="height: 47vh;">
                  <div class=" table-responsive" [ngStyle]="{'display': flightDisplay1}">
                        <table class="table ct_home_office_table ett_verticle_align_top" style="height:357px">
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">S.No.</th>
                                          <th scope="col">Flight Type</th>
                                          <th scope="col">Flight Class</th>
                                          <th scope="col">Return Flight</th>
                                          <th scope="col">No. of Trips</th>
                                          <th scope="col">Month</th>
                                          <th scope="col">Cost Centre</th>

                                    </tr>
                              </thead>
                              <tbody #commuteTable>
                                    <tr *ngFor="let row of rowsFlightTravel">
                                          <td scope="row">{{ row.id }}</td>


                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [(ngModel)]="row.flightType" [ngModelOptions]="{standalone: true}"
                                                      [options]="wasteGrid" optionLabel="flight_type"
                                                      optionValue="flight_type" placeholder="Select type"
                                                      appendTo="body">
                                                </p-dropdown>
                                          </td>
                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [(ngModel)]="row.flightClass"
                                                      [ngModelOptions]="{standalone: true}" [options]="flightClassGrid"
                                                      optionLabel="classs" optionValue="classs"
                                                      placeholder="Select class" appendTo="body">
                                                </p-dropdown>
                                          </td>
                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [(ngModel)]="row.return_flight"
                                                      [ngModelOptions]="{standalone: true}" [options]="annualEntry"
                                                      (onChange)="onProductStandardChange($event , row)"
                                                      optionLabel="name" optionValue="name" placeholder="Select return"
                                                      appendTo="body">
                                                </p-dropdown>
                                          </td>

                                          <td>
                                                <input type="number" class="form-control" style="height:38px"
                                                      placeholder="Enter no of trips" [(ngModel)]="row.noOfTrips"
                                                      [ngModelOptions]="{standalone: true}">
                                          </td>
                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [options]="row.month" optionLabel="name"
                                                      [(ngModel)]="row.selectedMonths"
                                                      [ngModelOptions]="{standalone: true}" optionValue="value"
                                                      appendTo="body">
                                                </p-dropdown>

                                          </td>
                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [options]="busineessGrid" optionLabel="cost_center_name"
                                                      [(ngModel)]="row.costCentre" [ngModelOptions]="{standalone: true}"
                                                      optionValue="cost_centre_name" appendTo="body">
                                                </p-dropdown>

                                          </td>



                                    </tr>


                              </tbody>
                              <span class="ml-2 trackingsubmitb d-inline-block mt-3 et_plusadd_455"
                                    (click)="addrowsFlightTravel()">+</span>
                        </table>
                  </div>
                  <div class=" table-responsive" [ngStyle]="{'display': flightDisplay2}">
                        <table class="table ct_home_office_table ett_verticle_align_top" style="height:400px">
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">S.No.</th>
                                          <th scope="col">From</th>


                                          <th scope="col">To</th>
                                          <th scope="col">Via(optional)</th>
                                          <th scope="col">Flight Class</th>

                                          <th scope="col">No of passengers</th>
                                          <th scope="col">Return Flight</th>
                                          <!-- <th scope="col">Reference Id</th> -->
                                          <th scope="col">Month</th>
                                          <th scope="col">Cost Centre</th>

                                    </tr>
                              </thead>
                              <tbody #commuteTable>
                                    <tr *ngFor="let row of rowsFlightTravel">
                                          <td scope="row">{{ row.id }}</td>


                                          <td>
                                                <p-dropdown
                                                      class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230 et_select_min_w_600_43"
                                                      ngModel [options]="airportGrid" [(ngModel)]="row.from"
                                                      [ngModelOptions]="{standalone: true}" optionLabel="airport_desc"
                                                      optionValue="airport_code" placeholder="Select from"
                                                      [filter]="true" name="classs" [virtualScroll]="true"
                                                      [virtualScrollItemSize]="38" #classs="ngModel" appendTo="body">
                                                </p-dropdown>

                                          </td>
                                          <td>
                                                <p-dropdown
                                                      class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230 et_select_min_w_600_43"
                                                      ngModel [options]="airportGrid" [(ngModel)]="row.to"
                                                      [ngModelOptions]="{standalone: true}" optionLabel="airport_desc"
                                                      optionValue="airport_code" placeholder="Select to" [filter]="true"
                                                      name="classs" [virtualScroll]="true" [virtualScrollItemSize]="38"
                                                      #classs="ngModel" appendTo="body">
                                                </p-dropdown>
                                          </td>
                                          <td>
                                                <p-dropdown
                                                      class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230 et_select_min_w_600_43"
                                                      ngModel [options]="airportGrid" [(ngModel)]="row.via"
                                                      [ngModelOptions]="{standalone: true}" optionLabel="airport_desc"
                                                      optionValue="airport_code" placeholder="Select via"
                                                      [filter]="true" name="classs" [virtualScroll]="true"
                                                      [virtualScrollItemSize]="38" #classs="ngModel" appendTo="body">
                                                </p-dropdown>
                                          </td>
                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      ngModel [options]="flightClassGrid" [(ngModel)]="row.flight_class"
                                                      [ngModelOptions]="{standalone: true}" optionLabel="classs"
                                                      optionValue="classs" name="classs" #classs="ngModel"
                                                      appendTo="body">
                                                </p-dropdown>

                                          </td>
                                          <td>
                                                <input type="text" class="form-control" style="width:200px;height:38px"
                                                      placeholder="Enter no of passengers"
                                                      [(ngModel)]="row.no_of_passengers"
                                                      [ngModelOptions]="{standalone: true}">
                                          </td>
                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [(ngModel)]="row.return_flight" name="annualEntry"
                                                      [ngModelOptions]="{standalone: true}" [options]="annualEntry"
                                                      (onChange)="onProductStandardChange($event , row)"
                                                      optionLabel="name" optionValue="name" placeholder="Select return"
                                                      appendTo="body">
                                                </p-dropdown>
                                          </td>
                                          <!-- <td>
                                                        <input type="text" class="form-control"
                                                            style="width:200px;height:38px"
                                                            placeholder="Enter Reference id"
                                                            [(ngModel)]="row.reference_id">
                                                    </td> -->



                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [options]="row.month" optionLabel="name" optionValue="value"
                                                      [(ngModel)]="row.selectedMonths"
                                                      [ngModelOptions]="{standalone: true}" appendTo="body">
                                                </p-dropdown>

                                          </td>
                                          <td>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [options]="busineessGrid" optionLabel="cost_center_name"
                                                      [(ngModel)]="row.costCentre" [ngModelOptions]="{standalone: true}"
                                                      optionValue="cost_centre_name" appendTo="body">
                                                </p-dropdown>

                                          </td>




                                    </tr>


                              </tbody>
                              <span class="ml-2 trackingsubmitb et_plusadd_455" (click)="addrowsFlightTravel()">+</span>
                        </table>
                  </div>
            </div>
            <div class="col-12 mt-2 d-flex gap-3 align-items-end">
                  <div class="col-4 mt-2">
                        <label for="fname ">Attachments</label>
                        <p-toast></p-toast>
                        <div class="d-flex justify-content-end border rounded ct_upload_btn1 et_btn_h_38_900">
                              <p-fileUpload #fileUpload mode="basic" accept=".jpg,.png,.pdf"
                                    chooseLabel="Please select a File"
                                    (onSelect)="onFileSelected($event.files)"></p-fileUpload>
                        </div>
                  </div>
                  <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>

            </div>
      </div>
</form>