<div class="row text-white">
    <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
        <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
            Refrigerants
        </p>
        <div class="ct_how_use_tooltip_main">
            <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
            <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                <div>
                    <p class="ct_fs_16"> Emissions from the use and leakage of refrigerants
                        from equipment owned or controlled by an organization. These
                        emissions are significant because many refrigerants have a high
                        global warming potential (GWP), meaning they can trap much more heat
                        in the atmosphere than carbon dioxide (CO2). Common agents include
                        HVAC systems, refrigeration units, and vehicle air conditioning
                        systems.

                    </p>
                    <h5 class="ct_fs_16  mb-0">To collect refrigerants data for emissions in
                        a company, follow these steps:
                    </h5>
                    <ol>
                        <li>Inventory of Equipment - List all the equipment that uses
                            refrigerants (e.g., HVAC systems, refrigeration units).
                        </li>
                        <li>Type of Refrigerant Used - Collect information on the specific
                            types of refrigerants used in each piece of equipment.
                        </li>
                        <li>Quantity of Refrigerant - Amount of refrigerant in each piece of
                            equipment and total quantities used, including any additions or
                            top-ups.
                        </li>
                        <li>Leakage and Emissions Data - Records of refrigerant leaks,
                            repairs, and the quantity of refrigerants emitted during
                            maintenance or due to leaks.
                        </li>
                        <li>Purchase and Disposal Records - Data on the purchase of new
                            refrigerants and the disposal of old or unused refrigerants
                        </li>
                        <li>Relevant departments for collecting the data - Environment,
                            Health, and Safety/ Facilities Management department
                        </li>
                    </ol>
                    <p>
                        You can download the ‘Refrigerants Template’ to understand the
                        breakdown of refrigerants usage.
                    </p>
                    <h5 class="ct_fs_16  mb-0">How to use the tool for entering data
                        emissions
                    </h5>
                    <ol>
                        <li>Select the months and year for which you want to enter the
                            emissions data. If you select multiple months, same data will be
                            replicated for the months selected.
                        </li>
                        <li>Once submitted, data is sent for approval. Manager of facility
                            or the admin has approval rights. Only the approved data is
                            included in emissions calculations. You can check the approval
                            status in ‘Status’ tab
                        </li>
                        <li>User can attach the bills, invoices as attachment for record
                            purpose.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

    <div class="trackingContent">
        <div class="row mt-4 mx-2">
            <div class="col-lg-4">
                <label for="fname">Type</label>
                <p-dropdown class="ct_select_op_input ct_chev_icon_dark230" [options]="fuelType" optionLabel="TypeName"
                    optionValue="ID" [(ngModel)]="fuelId" [ngModelOptions]="{standalone: true}" [appendTo]="'body'">
                </p-dropdown>

            </div>
            <div class="col-lg-5">
                <label for="fname">Amount of refrigerant used</label>
                <div class=" position-relative">
                    <input required ngModel name="refAmount" #refAmount="ngModel" placeholder="Enter value" refAmount
                        id="search-input" type="text" class="form-control Dashboard-tab text-white" />
                    <div class="ct_quantity_text">
                        <p>kg</p>
                    </div>
                </div>

                <p class="validation" *ngIf="refAmount.errors?.['required'] && dataEntryForm.submitted">
                    Reading value required.
                </p>
            </div>

            <div class="col-4 mt-4">
                <label for="fname ">Template</label>

                <div class="">


                    <button class="px-4 trackingsubmitb w-100 ct_h_40"><a class="text-white" [href]="templateLinks"
                            download>Click here to download</a></button>
                </div>
            </div>
            <div class="col-5 mt-4">
                <label for="fname ">Attachments</label>

                <div class="d-flex justify-content-end border rounded ct_upload_btn1 ct_h_40">
                    <p-fileUpload #fileUpload mode="basic" accept=".jpg,.png,.pdf" chooseLabel="Please select a File"
                        (onSelect)="
                        onFileSelected($event.files)
                    "></p-fileUpload>
                </div>
            </div>






        </div>
        <div class="col-12 mt-5 pt-3 ml-3 text-center">
            <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
        </div>




    </div>
</form>