<div class="row text-white">
    <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
        <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
            {{subCategoryID === 10 ? 'Passenger Vehicle' : 'Delivery Vehicle'}}
        </p>
        <div class="ml-auto">
            <button class=" mr-2 et_tab_btn" [ngClass]="{'active': singleCompanyTab}" type="button"
                (click)="bulkUploadCompany('1')">By Vehicle Type</button>
            <button class=" mr-2 et_tab_btn" [ngClass]="{'active': multipleCompanyTab}" type="button"
                (click)="bulkUploadCompany('2')">By Vehicle Model</button>
            <button class="et_tab_btn" [ngClass]="{'active': bulkCompanyTab}" type="button"
                (click)="bulkUploadCompany('3')"> Bulk Upload</button>


        </div>
        <div class="ct_how_use_tooltip_main">
            <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
            <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                <div>
                    <p class="ct_fs_16 mb-1">Vehicles that are owned, or otherwise
                        controlled by an organization, and whose emissions result directly
                        from fuel combustion. These vehicles are considered part of the
                        organization's direct emissions sources.</p>
                    <ol>
                        <li>
                            Passenger vehicles: Emissions resulting from the operation of
                            passenger cars owned or controlled by an organization. Eg.
                            Company cars, executive vehicles, pool cars, etc
                        </li>
                        <li>
                            Delivery Vehicles: Emissions resulting from the operation of
                            delivery vehicles owned or controlled by an organization. These
                            emissions primarily come from the combustion of fuels such as
                            diesel or gasoline within the vehicle's engine. Eg: Trucks, vans
                            etc.
                        </li>
                    </ol>
                    <h5 class="ct_fs_16 mb-0">To collect emissions data for vehicles owned
                        by company, follow these steps:
                    </h5>
                    <ol>
                        <li>Fuel Consumption - Amount of fuel used by each vehicle, often
                            tracked through fuel cards or receipts.
                        </li>
                        <li>Mileage - Distance travelled by each vehicle, typically recorded
                            through odometer readings or GPS tracking systems.
                        </li>
                        <li>Vehicle Inventory - Details of the vehicles in the fleet,
                            including model, engine size, and type of fuel used.
                        </li>
                        <li>
                            Relevant departments for collecting the data - Transportation/
                            Facilities/ Operational Department
                        </li>
                    </ol>
                    <h5 class="ct_fs_16  mb-0">How to use the tool for entering data
                        emissions
                    </h5>
                    <ol>
                        <li>
                            Select the months and year for which you want to enter the
                            emissions data. If you select multiple months, same data will be
                            replicated for the months selected.
                        </li>
                        <li>
                            Once submitted, data is sent for approval. Manager of facility
                            or the admin has approval rights. Only the approved data is
                            included in emissions calculations. You can check the approval
                            status in ‘Status’ tab
                        </li>
                        <li>
                            User can attach the bills, invoices as attachment for record
                            purpose.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

    <div class="p-3">
        <ng-container *ngIf="singleCompanyTab">
            <div class="col-md-12 table-responsive" style="height: 40vh;">
                <table class="table ct_home_office_table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">S.No.</th>
                            <th scope="col">Vehicle Type</th>
                            <th scope="col">No of vehicles</th>
                            <th scope="col">Trips per vehicle</th>
                            <th scope="col">Mode of data entry</th>
                            <th scope="col">Value</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody #commuteTable>

                        <tr *ngFor="let rows of rowsCompany; index as i">
                            <td>{{i +1}}</td>
                            <td>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                    [(ngModel)]="rows.vehicleType" [ngModelOptions]="{standalone: true}"
                                    [options]="VehicleType" optionLabel="VehicleType" optionValue="ID"
                                    placeholder="Select type" appendTo="body">
                                </p-dropdown>
                            </td>
                            <td>

                                <input required [(ngModel)]="rows.noOfVehicles" [ngModelOptions]="{standalone: true}"
                                    id="search-input" type="number" class="form-control Dashboard-tab text-white"
                                    placeholder="Enter value" />

                            </td>
                            <td>
                                <input required [(ngModel)]="rows.tripsPerVehicle" [ngModelOptions]="{standalone: true}"
                                    id="search-input" type="number" class="form-control Dashboard-tab text-white"
                                    placeholder="Enter value" />

                            </td>
                            <td>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                    [(ngModel)]="rows.modeOfEntry" [ngModelOptions]="{standalone: true}"
                                    [options]="ModeType" (ngModelChange)="modeOfEntryChange(rows.modeOfEntry ,rows)"
                                    optionLabel="modeName" optionValue="modeName" placeholder="Select type"
                                    appendTo="body">
                                </p-dropdown>

                            </td>

                            <td>
                                <input [(ngModel)]="rows.value" [ngModelOptions]="{standalone: true}" type="text"
                                    class="form-control Dashboard-tab text-white" placeholder="Enter value" />
                            </td>
                            <td>
                                <input disabled required ngModel name="NoOfVehicles" #NoOfVehicles="ngModel"
                                    [(ngModel)]="rows.unit" [ngModelOptions]="{standalone: true}" id="search-input"
                                    type="text" class="form-control Dashboard-tab text-white"
                                    placeholder="Enter value" />
                            </td>
                            <td>
                                <button type="button" class="px-4 trackingDeleteb" (click)="deleteRow(rows)"><i
                                        class="fa fa-trash"></i> </button>
                            </td>

                        </tr>

                    </tbody>
                    <p class="ml-2 trackingsubmitb" (click)="addCompanyRows()">+</p>

                </table>
            </div>
        </ng-container>

        <ng-container *ngIf="multipleCompanyTab">
            <div class="col-md-12 table-responsive" style="height: 40vh;">
                <table class="table ct_home_office_table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">S.No.</th>
                            <th scope="col">Vehicle Model</th>

                            <th scope="col">Mode of data entry</th>

                            <th scope="col">Value</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody #commuteTable>

                        <tr *ngFor="let rows of rowsCompany; index as i">
                            <td>{{i +1}}</td>
                            <td>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                    [(ngModel)]="rows.vehicleType" [ngModelOptions]="{standalone: true}"
                                    [options]="vehicleModalFleet" optionLabel="vehicle_model"
                                    optionValue="vehicle_model" placeholder="Select Vehicle model" appendTo="body">
                                </p-dropdown>

                            </td>


                            <td>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                    [(ngModel)]="rows.modeOfEntry" [ngModelOptions]="{standalone: true}"
                                    [options]="ModeType" (ngModelChange)="modeOfEntryChange(rows.modeOfEntry ,rows)"
                                    optionLabel="modeName" optionValue="modeName" placeholder="Select type"
                                    appendTo="body">
                                </p-dropdown>

                            </td>

                            <td>
                                <input [(ngModel)]="rows.value" [ngModelOptions]="{standalone: true}" type="text"
                                    class="form-control Dashboard-tab text-white" placeholder="Enter value" />
                            </td>
                            <td>
                                <input disabled required ngModel name="NoOfVehicles" #NoOfVehicles="ngModel"
                                    [(ngModel)]="rows.unit" [ngModelOptions]="{standalone: true}" id="search-input"
                                    type="text" class="form-control Dashboard-tab text-white"
                                    placeholder="Enter value" />
                            </td>
                            <td>
                                <button type="button" class="px-4 trackingDeleteb" (click)="deleteRow(rows)"><i
                                        class="fa fa-trash"></i> </button>
                            </td>

                        </tr>

                    </tbody>
                    <p class="ml-2 trackingsubmitb" (click)="addCompanyRows()">+</p>

                </table>
            </div>
        </ng-container>
        <ng-container *ngIf="bulkCompanyTab">

            <div class="d-flex align-items-center ct_gap_10 flex-wrap mb-3">
                <div>
                    <div class="d-flex justify-content-end border rounded ct_upload_btn1 ct_h_40 ct_svg_icon_white   ">
                        <p-fileUpload #fileUpload mode="basic" accept=".xlsx, .xls" class=""
                            chooseLabel="Please select a File" (onSelect)="onCompanyUpload($event.files,fileUpload)
                    "></p-fileUpload>
                    </div>
                    <!-- <input type="file" class="form-control"  (change)="onPurchaseGoodsUpload($event)" accept=".xlsx, .xls"  id="ct_product_upload_file" > -->
                </div>
                <a (click)="downloadCompanyExcel()" download class="px-4 trackingsubmitb"><i
                        class="fa-solid fa-download mr-2"></i>Download Vehicle Data
                    Template</a>

            </div>
            <div class="col-md-12 table-responsive" style="height: 40vh;">
                <table class="table ct_home_office_table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">S.No.</th>
                            <th scope="col">Vehicle Model</th>
                            <th scope="col">Mode of data entry</th>

                            <th scope="col">Value</th>
                            <th scope="col">Unit</th>

                        </tr>
                    </thead>
                    <tbody #commuteTable>

                        <tr *ngFor="let rows of jsonCompanyData; index as i">
                            <td>{{i +1}}</td>
                            <td>
                                {{rows.vehicleType}}


                            </td>
                            <!-- <td>
                                {{rows.noOfVehicles}}
                               

                            </td>
                            <td>
                                {{rows.tripsPerVehicle}}
                            

                            </td> -->
                            <td>
                                {{rows.modeOfEntry}}


                            </td>

                            <td>
                                {{rows.value}}

                            </td>
                            <td>
                                {{rows.unit}}

                            </td>

                        </tr>

                    </tbody>
                    <!-- <p class="ml-2 trackingsubmitb" (click)="addCompanyRows()">+</p> -->

                </table>
            </div>
        </ng-container>
        <div class="col-8 mt-4">
            <label for="fname ">Attachments</label>
            <!-- <p-toast></p-toast> -->
            <div class="d-flex justify-content-end border rounded ct_upload_btn1 ct_h_40">
                <p-fileUpload #fileUpload mode="basic" accept=".jpg,.png,.pdf" chooseLabel="Please select a File"
                    (onSelect)="
            onFileSelected($event.files)
        "></p-fileUpload>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5 pt-3 ml-3 text-center">
        <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
    </div>
</form>