
th {
    background-color: #454149!important;
    color: white!important;
    
    
}
tr {
    background-color: #5E6065!important;
    color: white!important;
}
.p-paginator .p-paginator-bottom {
    background-color: #333!important;
  }



