:host {
    cursor: pointer;
}

.menuitemD{
    color: #fff;
    font-size: 15px;
}
.menuitemL{
    color: #333;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap !important;

}
.naviconD{
    color: #fff;

}
.naviconL{
    color: #333;

}