<div class="row text-white">
      <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
            <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
                  Hotel Stay
            </p>
            <div class="ct_how_use_tooltip_main">
                  <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
                  <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                        <div>
                              <h5 class="mb-2 ct_fs_16">Business Travel

                              </h5>
                              <p>Emissions from the transportation of employees for business-related
                                    activities. This includes travel by air, rail, bus, car, and other
                                    modes of transportation.
                              </p>
                              <h5 class="mb-2 ct_fs_16">To collect emissions data for business travel
                                    used by the company, follow these steps:
                              </h5>
                              <ol>
                                    <li>Identify Travel Modes - List all modes of travel used by
                                          employees (e.g., air travel, train, car, bus).

                                    </li>
                                    <li>Travel Data - Collect detailed information on all business
                                          trips. This includes travel date, destinations, distances
                                          travelled, travel class (e.g., economy, business for flights),
                                          type of vehicle (for car travel)

                                    </li>
                                    <li>Collect Fuel Consumption Data - Obtain fuel consumption details
                                          for company-owned or rented vehicles.
                                    </li>
                                    <li>For personal vehicles used for business travel, gather mileage
                                          reimbursement records.
                                    </li>

                              </ol>

                              <h5 class="ct_fs_16 mb-0">How to use the tool for entering data
                                    emissions

                              </h5>
                              <ol>
                                    <li>Select the months and year for which you want to enter the
                                          travel data. If you select multiple months, same data will be
                                          replicated for the months selected

                                    </li>
                                    <li>Select the business travel type such as via flight or other ways
                                          of transport and/or hotel stay.

                                    </li>
                                    <li>
                                          Flight travel – There are three ways of entering flight travel
                                          data; Generic type – select the flight type based on travel
                                          time, To/Fro – this allows user to enter the take-off and
                                          landing ports and is the most accurate method, Distance – when
                                          the flight air distance is available

                                    </li>

                              </ol>

                        </div>
                  </div>
            </div>
      </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

      <div class="trackingFooter">
            <!-- rowsHotelStay -->
            <div class="col-md-12 table-responsive mt-3" style="height: 45vh;">
                  <table class="table ct_home_office_table ett_verticle_align_top" style="height:357px">
                        <thead class="thead-dark">
                              <tr>
                                    <th scope="col">S.No.</th>
                                    <th scope="col">Country Stay</th>
                                    <th scope="col">Type of hotel</th>
                                    <th scope="col">No of occupied rooms</th>
                                    <th scope="col">No. of nights per room</th>
                                    <th scope="col">Month</th>
                                    <th scope="col">Action</th>


                              </tr>
                        </thead>
                        <tbody #commuteTable>
                              <tr *ngFor="let row of rowsHotelStay">
                                    <td scope="row">{{ row.id }}</td>


                                    <td>
                                          <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                [(ngModel)]="row.selectedCountry" [ngModelOptions]="{standalone: true}"
                                                [options]="countriesList" [filter]="true" optionLabel="name"
                                                optionValue="name" placeholder="Select country">
                                          </p-dropdown>
                                    </td>
                                    <td>
                                          <p-dropdown class="ct_select_op_input ct_chev_icon_dark230" ngModel
                                                [options]="hotelTypeGrid" [(ngModel)]="row.type_of_hotel"
                                                optionLabel="hoteltype" optionValue="id" name="hoteltype"
                                                #hoteltype="ngModel">
                                          </p-dropdown>
                                    </td>
                                    <td>
                                          <input type="text" class="form-control" style="height:38px"
                                                placeholder="Enter no of occupied rooms"
                                                [(ngModel)]="row.no_of_occupied_rooms"
                                                [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td>
                                          <input type="text" class="form-control" style="height:38px"
                                                placeholder="Enter no of nights" [(ngModel)]="row.no_of_nights"
                                                [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td>
                                          <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                [options]="row.month" optionLabel="name" optionValue="value"
                                                [(ngModel)]="row.selectedMonths" [ngModelOptions]="{standalone: true}">
                                          </p-dropdown>

                                    </td>
                                    <td>
                                          <button type="button" class="px-4 trackingDeleteb" (click)="deleteRow(row)"><i class="fa fa-trash"></i> </button>
                                     </td>
                              </tr>


                        </tbody>
                        <span class="ml-2 trackingsubmitb et_plusadd_455" (click)="addrowsHotelStay()">+</span>
                  </table>
            </div>
            <div class="col-8">
                  <label for="fname ">Attachments</label>
                  <p-toast></p-toast>
                  <div class="d-flex justify-content-end border rounded ct_upload_btn1">
                        <p-fileUpload #fileUpload mode="basic" accept=".jpg,.png,.pdf"
                              chooseLabel="Please select a File"
                              (onSelect)="onFileSelected($event.files)"></p-fileUpload>
                  </div>
            </div>
            <div class="col-12 mt-4 pt-3 ml-3 text-center">
                  <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
            </div>
      </div>
</form>