<div class="row text-white">
    <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
        <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
            Heat and Steam
        </p>
        <div class="ct_how_use_tooltip_main">
            <label style="color: black;" for="">Multiple Months</label>
            <p-inputSwitch [(ngModel)]="annualEntry" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onAnnualChange($event);"></p-inputSwitch>
            <i class="fa-solid fa-eye ml-3 text-primary" (click)="viewValue = !viewValue"></i>
            <i class="fa-solid fa-circle-question ml-3" (click)="isHowtoUse = !isHowtoUse"></i>
            <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                <div>
                    <p class="ct_fs_16 mb-1"> Indirect emissions associated with the
                        generation of heat and steam used by a company. These emissions
                        occur outside of the company's direct control, typically at the
                        utility or energy generation level. Examples of Scope 2 emissions
                        from heat and steam include:

                    </p>
                    <ol>
                        <li>
                            Steam generation for industrial processes
                        </li>
                        <li>
                            Heating systems (e.g., boilers, furnaces)
                        </li>
                        <li>
                            Cooling systems (e.g., chillers, air conditioning)
                        </li>
                    </ol>
                    <h5 class="mb-0 ct_fs_16">To collect emissions data for heat and steam
                        used by the company, follow these steps:
                    </h5>
                    <ol>
                        <li>Identify Energy Sources - Determine the sources from which heat
                            and steam are obtained (e.g., district heating, on-site
                            boilers).

                        </li>
                        <li>Data Collection Methods - Obtain energy consumption data from
                            utility bills or meters

                        </li>
                        <li>Relevant departments for collecting the data - Facilities
                            Management
                        </li>
                    </ol>
                    <h5 class="ct_fs_16 mb-0">How to use the tool for entering data
                        emissions
                    </h5>
                    <ol>
                        <li>Select the months and year for which you want to enter the
                            emissions data. If you select multiple months, same data will be
                            replicated for the months selected.
                        </li>
                        <li>Once submitted, data is sent for approval. Manager of facility
                            or the admin has approval rights. Only the approved data is
                            included in emissions calculations. You can check the approval
                            status in ‘Status’ tab

                        </li>
                        <li>
                            User can attach the bills, invoices as attachment for record
                            purpose.
                        </li>
                    </ol>

                </div>
            </div>
            <p-dialog [(visible)]="visible || viewValue" [breakpoints]="{'960px': '75vw'}" [style]="{width: '40vw'}">
                <div class="table-responsive px-5">
                    <table class="table table_loc ct_space_table_21 ct_billing_table_bg_120">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center border-0"><input (change)="selectAll($event)"
                                        type="checkbox" class="ct_input_checkbox_1234">
                                </th>
                                <th scope="col" class="text-center border-0">Month</th>
                                <th scope="col" class="text-center border-0">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of monthsData">
                                <td class="text-center" style="vertical-align: middle;">
                                    <input type="checkbox" class="ct_input_checkbox_1234" [(ngModel)]="item.selected"
                                        [ngModelOptions]="{standalone: true}">
                                </td>
                                <td class="text-center" style="vertical-align: middle;">{{item.name}}</td>
                                <td class="d-flex justify-content-center"><input type="text" class="form-control w-auto"
                                        placeholder="Reading Value" [(ngModel)]="item.readingValue"
                                        [disabled]="!item.selected"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-3 ct_modal_btns_12 px-4">
                    <Button type="submit " class="px-4 trackingsubmitb " (click)="visible=false; viewValue=false">
                        Save
                    </Button>
                    <span type="button" class="closebutton ml-3 " (click)="visible=false; viewValue=false">
                        Close
                    </span>
                </div>
            </p-dialog>
        </div>
    </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

    <div class="trackingContent">
        <div class="row mt-4 mx-2">
            <div class="col-lg-4">
                <label for="fname">Type</label>
                <p-dropdown class="ct_select_op_input ct_chev_icon_dark230" [options]="heatType" optionLabel="Item"
                    optionValue="ID" [(ngModel)]="heatTypeId" [ngModelOptions]="{standalone: true}" [appendTo]="'body'">
                </p-dropdown>

            </div>

            <div class="col-lg-4">
                <label for="fname">Reading Value</label>
                <div class=" position-relative">
                    <input required ngModel name="readingvalue" #myControl="ngModel" placeholder="Enter value"
                        id="search-input" type="text" class="form-control Dashboard-tab text-white"
                        [disabled]="annualEntry" />
                    <p-dropdown class="ct_select_op_input ct_select_op_input ct_position_small_quantity"
                        [options]="units" optionLabel="UnitName" optionValue="UnitName" [(ngModel)]="unit"
                        [ngModelOptions]="{standalone: true}">
                    </p-dropdown>
                </div>

                <p class="validation"
                    *ngIf="myControl.errors?.['required']  && dataEntryForm.submitted && myControl.touched">
                    Reading value required.
                </p>
            </div>

            <div class="col-8 mt-4 mx-2">
                <label for="fname ">Attachments</label>
                <!-- <p-toast></p-toast> -->
                <div class="d-flex justify-content-end border rounded ct_upload_btn1 ct_h_40">
                    <p-fileUpload #fileUpload mode="basic" accept=".jpg,.png,.pdf" chooseLabel="Please select a File"
                        (onSelect)="
                onFileSelected($event.files)
            "></p-fileUpload>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5 pt-3 ml-3 text-center">
            <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
        </div>
    </div>
</form>