<div class="row text-white">
      <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
            <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
                  Water Supply and Treatment
            </p>
            <div class="ct_how_use_tooltip_main">
                  <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
                  <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                        <div>
                              <h5 class="mb-3 ct_fs_16">Water Supply and Treatment</h5>
                              <p class="ct_fs_16 mb-2">
                                    Emissions associated with water withdrawn from the source and
                                    transported to the point of use and from water treatment processes.
                              </p>

                              <p class="mb-2 ct_fs_16">Total water consumed = water withdrawn – water
                                    discharged
                              </p>
                              <p class="mb-0">Water goes through treatment process before it is
                                    discharged. There are three stages of water treatment:
                              </p>
                              <ol style="list-style: lower-roman;">
                                    <li>Primary - Removes large objects, debris, and solids from
                                          wastewater

                                    </li>
                                    <li>Secondary - Removes dissolved and suspended biological matter,
                                          often using microorganisms in a controlled environment

                                    </li>
                                    <li>Composting – Breaking down organic waste (vegetables, rotten
                                          food, garden waste) into nutrient-rich-soil.
                                    </li>
                                    <li>Tertiary – This is the last stage and is employed when specific
                                          wastewater constituents which cannot be removed by secondary
                                          treatment must be removed.

                                    </li>

                              </ol>

                              <h5 class="ct_fs_16 mb-0">To collect emissions data for water withdrawn
                                    and treatment, follow these steps:
                              </h5>
                              <ol>
                                    <li>Determine the volume of water withdrawn from various sources
                                          (e.g., rivers, lakes, groundwater) and discharged back to
                                          different destinations.
                                    </li>
                                    <li>Estimate the volume of water discharged to various destinations
                                          undergoing treatment process. Identify the stages of treatment
                                          process applied.

                                    </li>
                                    <li>
                                          Department responsible for collection water data – Utilities /
                                          Operations department, Resource management / Maintenance
                                          department

                                    </li>

                              </ol>
                              <h5 class="ct_fs_16 mb-0">How to use the tool for entering water
                                    emissions data

                              </h5>
                              <ol>
                                    <li>Select the months and year for which you want to enter the water
                                          data. If you select multiple months, same data will be
                                          replicated for the months selected.


                                    </li>
                                    <li>Enter the total water withdrawn and discharged volume in kilo
                                          litre or cubic metre.

                                    </li>
                                    <li>
                                          For water withdrawn by source, input the % breakdown of water
                                          supplied from various sources. Similarly, input the % breakdown
                                          of water discharged to various destination


                                    </li>
                                    <li>Input the % breakdown of water discharged to various
                                          destinations which has undergone the treatment process and
                                          select the level of treatment done.
                                          E.g. total water discharged into surface water undergoing
                                          treatment = Total water discharged x a% discharged to surface
                                          water x b % of discharged to surface water which has been
                                          treated

                                    </li>
                              </ol>

                        </div>
                  </div>
            </div>
      </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

      <div class="trackingFooter">
            <div class="row mt-4 mb-3 mb-5 pb-5 mx-2">

                  <div class="col-12">
                        <div class=" mt-0">

                              <div class="row">
                                    <div class="col-lg-6">
                                          <div class="mb-4" style="gap: 10px;">
                                                <label class=" ct_text_wrape">Total water withdrawn</label>
                                                <div class="position-relative">
                                                      <input type="number" placeholder="Enter water withdrawn"
                                                            class="form-control Dashboard-tab text-white"
                                                            name="water_supply" ngModel />
                                                      <!-- <p-dropdown
                                                                    class="ct_select_op_input ct_position_small_quantity"
                                                                    ngModel [options]="waterSupplyUnitGrid"
                                                                    optionLabel="unitType" optionValue="unitType"
                                                                    [(ngModel)]="waterSupplyUnit"
                                                                    name="waterSupplyUnits" #wasteUnits="ngModel">
                                                                </p-dropdown> -->
                                                      <div class="ct_quantity_text">
                                                            <p>kilo litre</p>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-lg-6">
                                          <div class="mb-4" style="gap: 10px;">
                                                <label class=" ct_text_wrape">Total water discharged</label>
                                                <div class="position-relative">
                                                      <input type="number" placeholder="Enter water discharged"
                                                            class="form-control Dashboard-tab text-white"
                                                            name="water_treatment" ngModel />
                                                      <div class="ct_quantity_text">
                                                            <p>kilo litre</p>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>

                              </div>

                        </div>

                  </div>

                  <div class="col-lg-6 col-md-4">
                        <div class=" mt-0">


                              <div class=" ct_home_office_table">
                                    <div class="table-responsive">
                                          <table class="table ">
                                                <thead class="thead-dark">
                                                      <tr>

                                                            <th scope="col">Water withdrawl by source</th>
                                                            <th scope="col">Value (%)</th>
                                                      </tr>
                                                </thead>
                                                <tbody>
                                                      <tr>

                                                            <td>Surface water</td>
                                                            <td><input type="number" class="form-control w-auto"
                                                                        name="surface_water" ngModel
                                                                        placeholder="Enter required value"></td>

                                                      <tr>

                                                            <td>Groundwater</td>
                                                            <td><input type="number" class="form-control w-auto"
                                                                        name="groundwater" ngModel
                                                                        placeholder="Enter required value"></td>

                                                      </tr>
                                                      <tr>
                                                            <td>Third party water</td>
                                                            <td><input type="number" class="form-control w-auto"
                                                                        name="thirdParty" ngModel
                                                                        placeholder="Enter required value"></td>

                                                      </tr>
                                                      <tr>
                                                            <td>Sea water/ desalinated water</td>
                                                            <td><input type="number" class="form-control w-auto"
                                                                        name="seaWater" ngModel
                                                                        placeholder="Enter required value"></td>
                                                      </tr>
                                                      <tr>
                                                            <td>Others</td>
                                                            <td><input type="number" class="form-control w-auto"
                                                                        name="others" ngModel
                                                                        placeholder="Enter required value"></td>

                                                      </tr>

                                                </tbody>
                                          </table>
                                    </div>
                              </div>

                        </div>

                  </div>
                  <div class="col-lg-6  col-md-4">
                        <div class=" mt-0">


                              <div class="row ct_home_office_table">
                                    <div class="table-responsive">
                                          <table class="table ">
                                                <thead class="thead-dark">
                                                      <tr>
                                                            <th scope="col">Water discharge by destination</th>
                                                            <th scope="col">Value (%)</th>
                                                      </tr>
                                                </thead>
                                                <tbody>
                                                      <tr>

                                                            <td>Into Surface water</td>
                                                            <td><input type="number" class="form-control w-auto"
                                                                        name="surface_water_dest" ngModel
                                                                        placeholder="Enter required value"></td>

                                                      <tr>

                                                            <td>Into Ground water</td>
                                                            <td><input type="number" class="form-control w-auto"
                                                                        name="groundwater_dest" ngModel
                                                                        placeholder="Enter required value"></td>

                                                      </tr>
                                                      <tr>
                                                            <td>Send to third-parties</td>
                                                            <td><input type="number" class="form-control w-auto"
                                                                        name="thirdParty_dest" ngModel
                                                                        placeholder="Enter required value"></td>
                                                      </tr>
                                                      <tr>
                                                            <td>Into Seawater</td>
                                                            <td><input type="number" class="form-control w-auto"
                                                                        name="seaWater_dest" ngModel
                                                                        placeholder="Enter required value"></td>

                                                      </tr>

                                                      <tr>
                                                            <td>Others</td>
                                                            <td><input type="number" class="form-control w-auto"
                                                                        name="others_dest" ngModel
                                                                        placeholder="Enter required value"></td>

                                                      </tr>

                                                </tbody>
                                          </table>
                                    </div>
                              </div>

                        </div>

                  </div>


                  <div class="col-12 mt-3">
                        <div class=" mt-0">


                              <div class="row ct_home_office_table">
                                    <div class="table-responsive">
                                          <table class="table ">
                                                <thead class="thead-dark">
                                                      <tr>

                                                            <th scope="col">Treated water by destination</th>
                                                            <th scope="col">With treatment (%)</th>
                                                            <th scope="col">Level of treatment</th>
                                                      </tr>
                                                </thead>
                                                <tbody>
                                                      <tr>

                                                            <td>Into Surface water</td>
                                                            <td><input type="number" class="form-control"
                                                                        name="surface_withTreatment" ngModel
                                                                        placeholder="Enter required value">
                                                            </td>
                                                            <td><p-dropdown
                                                                        class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                                        ngModel [options]="waterUsageLevel"
                                                                        optionLabel="unitType"
                                                                        placeholder="Choose Level"
                                                                        optionValue="unitType"
                                                                        name="surface_levelTreatment"
                                                                        #wasteUnits="ngModel" appendTo="body">
                                                                  </p-dropdown></td>
                                                            <td>

                                                            </td>
                                                      </tr>
                                                      <tr>

                                                            <td>Into Ground water</td>
                                                            <td><input type="number" class="form-control"
                                                                        name="ground_withTreatment" ngModel
                                                                        placeholder="Enter required value">
                                                            </td>
                                                            <td><p-dropdown
                                                                        class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                                        ngModel [options]="waterUsageLevel"
                                                                        optionLabel="unitType"
                                                                        placeholder="Choose Level"
                                                                        optionValue="unitType"
                                                                        name="ground_levelTreatment"
                                                                        #wasteUnits="ngModel" appendTo="body">
                                                                  </p-dropdown></td>

                                                      </tr>
                                                      <tr>

                                                            <td>Into Seawater</td>

                                                            <td><input type="number" class="form-control"
                                                                        name="seawater_withTreatment" ngModel
                                                                        placeholder="Enter required value">
                                                            </td>

                                                            <td><p-dropdown
                                                                        class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                                        ngModel [options]="waterUsageLevel"
                                                                        optionLabel="unitType"
                                                                        placeholder="Choose Level"
                                                                        optionValue="unitType"
                                                                        name="seawater_levelTreatment"
                                                                        #wasteUnits="ngModel" appendTo="body">
                                                                  </p-dropdown></td>

                                                      </tr>
                                                      <tr>

                                                            <td>Send to third-parties</td>

                                                            <td><input type="number" class="form-control"
                                                                        name="third_withTreatment" ngModel
                                                                        placeholder="Enter required value">
                                                            </td>

                                                            <td><p-dropdown
                                                                        class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                                        ngModel [options]="waterUsageLevel"
                                                                        optionLabel="unitType"
                                                                        placeholder="Choose Level"
                                                                        optionValue="unitType"
                                                                        name="third_levelTreatment"
                                                                        #wasteUnits="ngModel" appendTo="body">
                                                                  </p-dropdown></td>
                                                      </tr>
                                                      <tr>

                                                            <td>Others</td>

                                                            <td><input type="number" class="form-control"
                                                                        name="others_withTreatment" ngModel
                                                                        placeholder="Enter required value">
                                                            </td>

                                                            <td><p-dropdown
                                                                        class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                                        ngModel [options]="waterUsageLevel"
                                                                        optionLabel="unitType"
                                                                        placeholder="Choose Level"
                                                                        optionValue="unitType"
                                                                        name="others_levelTreatment"
                                                                        #wasteUnits="ngModel" appendTo="body">
                                                                  </p-dropdown></td>
                                                      </tr>

                                                </tbody>
                                          </table>

                                    </div>

                              </div>
                        </div>

                  </div>
                  <div class="col-12 mt-4 pt-3 ml-3 text-center">
                        <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
                  </div>
            </div>
      </div>
      <!-- <div class="col-12 mt-5 pt-3 ml-3 text-center">
            <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
      </div> -->
</form>