.ct_custom_btn_500 {
    border-radius: 5px;
    border-color: transparent;
    background-color: rgba(136, 173, 71, 0.75);
    margin-top: 3px;
    width: 120px;
    color: white;
    height: 35px;
}