<div class="row text-white">
    <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
        <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
            Downstream leased assets
        </p>
        <div class="ct_how_use_tooltip_main">
            <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
            <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                <div>
                    <h5 class="mb-2 ct_fs_16">Downstream Leased Assets

                    </h5>
                    <p>Emissions from the operation of assets owned by the company and
                        leased to other entities. This category includes buildings,
                        vehicles, and machinery leased to third parties.

                    </p>
                    <h5 class="mb-2 ct_fs_16">To collect emissions data for Downstream
                        Leased assets used by the company, follow these steps:

                    </h5>
                    <ol>
                        <li>List all Downstream Leased assets (e.g., vehicles, equipment)
                            under the company’s control.
                        </li>
                        <li>Determine which assets fall under the company's operational
                            boundaries for emissions reporting.
                        </li>
                        <li>Collect operational data for each asset (e.g., fuel consumption,
                            mileage, energy use).
                        </li>
                    </ol>

                    <h5 class="ct_fs_16 mb-0">How to use the tool for entering data
                        emissions:
                    </h5>
                    <ol>
                        <li>
                            Select the months and year for which you want to enter the
                            emissions data. If you select multiple months, same data will be
                            replicated for the months selected
                        </li>
                        <li>For Leased Facilities
                            <ul class="pl-3" style="list-style: lower-alpha;">
                                <li>Select the facility type and the sub-category of the
                                    facility from the dropdown.
                                </li>
                                <li>Select the calculation method.
                                    <ol class="pl-3">
                                        <li>If selected ‘Average data method’, enter the
                                            area of the franchise in sq meter or sq. feet.
                                        </li>
                                        <li>
                                            If selected ‘Facility specific method’, download
                                            the template to collect Scope1 and Scope2
                                            emissions data associated with using the leased
                                            facility (the allocated space) for the reporting
                                            period from the lessor(s).
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </li>
                        <li>
                            For Leased Vehicles:
                            <ul class="pl-3" style="list-style: lower-alpha;">
                                <li>Select vehicle type from the dropdown, also sub-category
                                    of the vehicle based on the fuel type.

                                </li>
                                <li>Enter the distance travelled by the product and the
                                    number of vehicles used for transportation.
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

    <div class="trackingFooter">
        <div class="row mt-4 mb-3 mb-5 pb-5 mx-2">
            <label for="">LEASED FACILITIES</label>
            <p-inputSwitch [(ngModel)]="leasefacilitieschecked" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
            <label class="ml-3" for="">LEASED VEHICLES</label>
            <p-inputSwitch [(ngModel)]="leasevehcileschecked" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
            <div class="col-12" *ngIf="leasefacilitieschecked">
                <div class=" mt-4">
                    <h5 class="mb-4">LEASED FACILITIES</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Facility type</label>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                    [options]="franchiseGrid" optionLabel="categories" optionValue="categories"
                                    (onChange)="onFranchiseChange($event)">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4  " style="gap: 10px;">
                                <label class=" ct_text_wrape">Sub Category</label>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                    [options]="subFranchiseCategory" optionLabel="sub_categories"
                                    optionValue="sub_categories" [(ngModel)]="subfacilityTypeValue"
                                    [ngModelOptions]="{standalone: true}">
                                </p-dropdown>


                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="mb-4 " style="gap: 10px">
                                <label class="ct_text_wrape">Calculation Method</label>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                    [options]="calculationUpleaseGrid" optionLabel="calculationmethod"
                                    optionValue="calculationmethod" [(ngModel)]="calculationMethod"
                                    [ngModelOptions]="{standalone: true}"
                                    (onChange)="onCalculationMethodChange($event)">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="averageMethod">
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Franchise Space</label>
                                <div class="position-relative">
                                    <input type="number" class="form-control Dashboard-tab text-white"
                                        placeholder="Enter Franchise Space" name="upLeasefranchise_space" ngModel />
                                    <div class="ct_quantity_text">
                                        <p>m2</p>
                                    </div>
                                    <!-- <p-dropdown
                                                                    class="ct_select_op_input ct_position_small_quantity"
                                                                    ngModel [options]="facilityUnits"
                                                                    optionLabel="energyTypes" optionValue="energyTypes"
                                                                    name="upfacilityUnits" #upfacilityUnits="ngModel">
                                                                </p-dropdown> -->



                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="franchiseMethod">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-3">Input Facility emissions for the selected month</label>
                                <!-- <p>
                                                                <a class="trackingsubmitb"
                                                                    href="assets/LeasingScope12_Template.xlsx"
                                                                    download="">Click
                                                                    here to
                                                                    download template</a>
                                                            </p> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4" style="gap: 10px;">
                                    <label class=" ct_text_wrape">Scope1
                                        Emissions</label>
                                    <div class="position-relative">
                                        <input type="number" class="form-control Dashboard-tab text-white"
                                            placeholder="Enter Scope1 Emissions" name="scope1_emission" ngModel />
                                        <div class="ct_quantity_text">
                                            <p>kg CO2e</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4" style="gap: 10px;">
                                    <label class=" ct_text_wrape">Scope2
                                        Emissions</label>
                                    <div class="position-relative">
                                        <input type="number" class="form-control Dashboard-tab text-white"
                                            placeholder="Enter Scope2 Emissions" name="scope2_emission" ngModel />
                                        <div class="ct_quantity_text">
                                            <p>kg CO2e</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-container>


                </div>
            </div>
            <div class="col-12" *ngIf="leasevehcileschecked">
                <div class=" mt-4">
                    <h5 class="mb-4">LEASED VEHICLES</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Vehicle type</label>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230 

                                                        " [options]="VehicleGrid" optionLabel="vehicle_type"
                                    optionValue="id" name="vehicle_type" (onChange)="onVehicleTypeChangeLease($event)">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-4 " style="gap: 10px;">
                                <label class="ct_text_wrape">Sub Category</label>
                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                    [options]="subVehicleCategory" optionLabel="vehicle_type" optionValue="vehicle_type"
                                    [(ngModel)]="subVehicleCategoryValue" [ngModelOptions]="{standalone: true}">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">Distance Travelled by
                                    Product</label>
                                <div class="position-relative">
                                    <input type="number" class="form-control Dashboard-tab text-white"
                                        placeholder="Enter Distance" name="distanceInKms" required ngModel
                                        #distanceInKms="ngModel" />

                                    <div class="ct_quantity_text">
                                        <p>km</p>
                                    </div>



                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-4" style="gap: 10px;">
                                <label class=" ct_text_wrape">No. of Vehicles</label>
                                <div class="position-relative">
                                    <input type="number" class="form-control Dashboard-tab text-white"
                                        placeholder="Enter No. of Vehicles" name="noOfVehicles" required ngModel
                                        #noOfVehicles="ngModel" />
                                    <!-- <p class="validation"
                                                                *ngIf="noOfVehicles.invalid && dataEntryForm.submitted">
                                                                No. of Vehicles value required
                                                            </p> -->
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-12 mt-4 pt-3 ml-3 text-center">
                <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
            </div>
        </div>
    </div>
</form>