<div class="row text-white">
    <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
        <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
            {{subCategoryID == 9 ? 'Location Based' : 'Market Based'}}
        </p>
        <div class="ct_how_use_tooltip_main">
            <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
            <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                <div>
                    <p class="ct_fs_16 mb-1"> Emissions associated with the generation of
                        purchased electricity used by a company. These emissions are
                        indirect, as they occur outside of the company's direct operations,
                        but are still related to its activities.
                    </p>
                    <ol>
                        <li>
                            <span class="ct_fw_600">Market-based:</span> This method
                            considers specific purchasing decisions including contracts for
                            renewable energy credits (RECs) or guarantees of origin (GOs),
                            which allow organizations to report lower emissions if they
                            purchase electricity from renewable sources.

                        </li>
                        <li>
                            <span class="ct_fw_600">Location based:</span> This method
                            calculates emissions based on the average emissions intensity of
                            the grid where the electricity is consumed.

                        </li>
                    </ol>
                    <h5 class="mb-0 ct_fs_16">To collect emissions data for electricity
                        purchased by the company, follow these steps:
                    </h5>
                    <ol>
                        <li>Utility Bills and Invoices- Obtain electricity bills from
                            utility providers or invoices that detail the amount of
                            electricity consumed during the reporting period.
                        </li>
                        <li>Meter Readings - Monitor and record meter readings regularly to
                            track electricity consumption accurately.
                        </li>
                        <li>Relevant departments for collecting the data - Energy Management
                            or Facilities Management Department
                        </li>
                    </ol>
                    <h5 class="ct_fs_16 mb-0">How to use the tool for entering data
                        emissions
                    </h5>
                    <ol>
                        <li>Select the months and year for which you want to enter the
                            electricity data. If you select multiple months, same data will
                            be replicated for the months selected.
                        </li>
                        <li>For ‘Location based’ electricity, user can either select country
                            average for the grid factor or state-based grid factors
                            where-ever the data is available
                        </li>
                        <li>
                            For ‘Market based electricity’, RECs data is used to calculate
                            avoided emissions.
                        </li>
                    </ol>


                </div>
            </div>
        </div>
    </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

    <div class="trackingContent">

        <div class="row mt-4 mx-2" *ngIf="subCategoryID == 9">
            <div class="col-lg-4">
                <label for="fname">Reading Value</label>
                <div class="position-relative">
                    <input required ngModel name="readingvalueLocation" #readingvalueLocation="ngModel"
                        placeholder="Enter value" readingvalue id="search-input" type="text"
                        class="form-control Dashboard-tab text-white" />
                    <p-dropdown class="ct_select_op_input ct_select_op_input ct_position_small_quantity"
                        [(ngModel)]="selectedUnit" [ngModelOptions]="{standalone: true}" [options]="units"
                        optionLabel="UnitName" optionValue="UnitName"></p-dropdown>
                </div>
                <p class="validation"
                    *ngIf="readingvalueLocation.errors?.['required'] && dataEntryForm.submitted && readingvalueLocation.touched">
                    Reading value required.
                </p>
            </div>

            <div class="col-lg-4">
                <label for="fname">Grid</label>
                <p-dropdown class="ct_select_op_input ct_chev_icon_dark230 " [options]="regionType"
                    optionLabel="RegionName" optionValue="RegionID" [(ngModel)]="regionId"
                    [ngModelOptions]="{standalone: true}"></p-dropdown>
            </div>
        </div>

        <ng-container *ngIf="subCategoryID ==1002">
            <div class="row mt-4 mx-2">
                <div class="col-lg-4">
                    <label for="fname">Type</label>
                    <p-dropdown class="ct_select_op_input ct_chev_icon_dark230" [options]="marketTypes"
                        optionLabel="Type" optionValue="id" [(ngModel)]="marketTypeId"
                        [ngModelOptions]="{standalone: true}" (onChange)="marktetTypeChange($event)"></p-dropdown>
                </div>
            </div>
            <ng-container *ngIf="renewableSelected">
                <div class="row mt-4 mx-2">
                    <div class="col-lg-4">
                        <label for="fname">Reading Value</label>
                        <div class=" position-relative">
                            <input required ngModel name="readingValueREnew" #readingValueREnew="ngModel"
                                placeholder="Enter value" readingvalue id="search-input" type="text"
                                class="form-control Dashboard-tab text-white" />
                            <p-dropdown class="ct_select_op_input ct_select_op_input ct_position_small_quantity"
                                [options]="units" optionLabel="UnitName" optionValue="UnitName"
                                [(ngModel)]="selectedUnit" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        </div>

                        <p class="validation"
                            *ngIf="readingValueREnew.errors?.['required'] && dataEntryForm.submitted && readingValueREnew.touched">
                            Reading value required.
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <label for="fname">Source</label>
                        <p-dropdown class="ct_select_op_input ct_chev_icon_dark230" [options]="ElectricitySource"
                            optionLabel="sourceName" optionValue="sourceName" [(ngModel)]="sourceName"
                            [ngModelOptions]="{standalone: true}"></p-dropdown>
                    </div>

                </div>


            </ng-container>
            <ng-container *ngIf="supplierSelected">
                <div class="row mt-4 mx-2">
                    <div class="col-lg-4">
                        <label for="fname">Supplier specific Emission Factor</label>
                        <div class=" position-relative">
                            <input required ngModel name="emission_factorS" #emission_factorS="ngModel"
                                placeholder="Enter value" readingvalue id="search-input" type="number"
                                class="form-control Dashboard-tab text-white" />
                            <div class="ct_quantity_text">
                                <p>kg CO2e/{{unitSelected}}</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="fname">Value</label>
                        <div class=" position-relative">
                            <input required ngModel name="readingSupplierValue" #readingSupplierValue="ngModel"
                                placeholder="Enter value" readingvalue id="search-input" type="number"
                                class="form-control Dashboard-tab text-white" />
                            <p-dropdown class="ct_select_op_input ct_select_op_input ct_position_small_quantity"
                                [options]="units" optionLabel="UnitName" optionValue="UnitName"
                                [(ngModel)]="unitSelected" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        </div>

                        <p class="validation"
                            *ngIf="readingSupplierValue.errors?.['required'] && dataEntryForm.submitted && readingSupplierValue.touched">
                            Reading value required.
                        </p>
                    </div>


                </div>

            </ng-container>


        </ng-container>
        <div class="col-8 mt-4 mx-2">
            <label for="fname ">Attachments</label>
            <!-- <p-toast></p-toast> -->
            <div class="d-flex justify-content-end border rounded ct_upload_btn1 ct_h_40">
                <p-fileUpload #fileUpload mode="basic" accept=".jpg,.png,.pdf" chooseLabel="Please select a File"
                    (onSelect)="
            onFileSelected($event.files)
        "></p-fileUpload>
            </div>
        </div>







        <div class="col-12 mt-5 pt-3 ml-3 text-center">
            <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
        </div>




    </div>
</form>