<div class="row text-white ">
      <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
            <p class="mb-2 mt-3 ml-4 text-dark ct_fw_600">
                  Upstream Transportation and Distribution
            </p>
            <div class="ct_how_use_tooltip_main">
                  <i class="fa-solid fa-circle-question" (click)="isHowtoUse = !isHowtoUse"></i>
                  <div class="ct_how_use_tooltip_cnt" [ngClass]="isHowtoUse ? 'ct_active' : ''">
                        <div>
                              <p class="ct_fs_16 mb-2">
                                    Emissions from the transportation and distribution of products
                                    purchased by the company, from suppliers to the company’s
                                    facilities. This includes transportation by land, air, and sea, as
                                    well as warehousing and storage. Emissions from the transportation
                                    and facilities leased by the company are not included in this
                                    category.
                              </p>

                              <h5 class="mb-0 ct_fs_16">Examples of upstream transportation and
                                    distribution emissions include:
                              </h5>
                              <ol>
                                    <li>Fuel combustion from trucks, ships, and airplanes transporting
                                          goods</li>
                                    <li>Emissions from transportation infrastructure, such as roads and
                                          ports

                                    </li>
                                    <li>Energy consumption from warehousing and storage facilities
                                    </li>
                                    <li>Emissions from packaging materials and labelling
                                    </li>
                              </ol>
                              <h5 class="ct_fs_16 mb-2">To collect emissions data for Upstream
                                    transportation and distribution used by the company, follow these
                                    steps:

                              </h5>
                              <ol>
                                    <li>Methods used to collect the data could be of two types: a)
                                          Activity-based approach - track the distance, mode, and fuel
                                          type of transportation (more accurate), b) Spend-based approach
                                          - estimate emissions based on procurement spend data
                                    </li>
                                    <li>Vehicle Suppliers - Contact your suppliers to gather data on
                                          their transportation methods and emissions.
                                    </li>
                                    <li>
                                          Logistics Providers - Obtain emissions data from third-party
                                          logistics (3PL) providers or carriers.

                                    </li>
                                    <li>Internal Records - Utilize internal records of transportation
                                          activities, including type of fuel consumption and vehicle
                                          types.
                                    </li>
                                    <li>Relevant department for collecting the data – Logistics / Supply
                                          chain department, Procurement department
                                    </li>

                              </ol>
                              <h5 class="ct_fs_16 mb-2">How to use the tool for entering emissions
                                    data

                              </h5>
                              <ol>
                                    <li>Select the months and year for which you want to enter the
                                          emissions data. If you select multiple months, same data will be
                                          replicated for the months selected

                                    </li>
                                    <li>For Vehicles
                                          <ul class="pl-3" style="list-style: lower-alpha;">
                                                <li>
                                                      Select vehicle type from the dropdown, also sub-category
                                                      of the vehicle based on the fuel type.
                                                </li>
                                                <li>
                                                      Enter the mass of products that were transported.
                                                </li>
                                                <li>
                                                      Enter the distance travelled by the product and the
                                                      number of vehicles used for transportation.
                                                </li>
                                          </ul>
                                    </li>
                                    <li>For Storage Facility
                                          <ul class="pl-3" style="list-style: lower-alpha;">
                                                <li>
                                                      Select the storage facility type from the dropdown.
                                                </li>
                                                <li>
                                                      Enter the area occupied by the facility in sq ft or sq.
                                                      meter.
                                                </li>
                                                <li>
                                                      Enter the number of days of storage of the product.
                                                </li>
                                          </ul>
                                    </li>

                              </ol>

                        </div>
                  </div>
            </div>
      </div>
</div>
<form #dataEntryForm="ngForm" (ngSubmit)="EntrySave(dataEntryForm)">

      <div class="trackingFooter">
            <div class="row mt-4 mb-3  pb-4 mx-2">
                  <label for="">VEHICLES</label>
                  <p-inputSwitch [(ngModel)]="vehcilestransporationchecked"
                        [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                  <label class="ml-3" for="">STORAGE FACILITY</label>
                  <p-inputSwitch [(ngModel)]="storageTransporationChecked"
                        [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                  <div class="col-12">
                        <div class="mt-4" *ngIf="vehcilestransporationchecked">
                              <div class="d-flex align-items-center mb-4 justify-content-between">
                                    <h5 class="">VEHICLES</h5>
                                    <div>
                                          <label class="ml-3" for="">Spend Amount</label>
                                          <p-inputSwitch [(ngModel)]="spndBasedChecked"
                                                [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                                    </div>
                              </div>
                              <div class="row" *ngIf="!spndBasedChecked">
                                    <div class="col-md-6">
                                          <div class="mb-4" style="gap: 10px;">
                                                <label class=" ct_text_wrape">Vehicle types</label>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [options]="VehicleGrid" optionLabel="vehicle_type"
                                                      optionValue="id" name="vehicle_type"
                                                      (onChange)="onVehicleTypeChange($event)"
                                                      [(ngModel)]="upstreamVehicletypeId"
                                                      [ngModelOptions]="{standalone: true}">
                                                </p-dropdown>
                                          </div>
                                    </div>
                                    <div class="col-md-6">
                                          <div class="mb-4  " style="gap: 10px;">
                                                <label class=" ct_text_wrape">Mass of Products
                                                      Transported</label>
                                                <div class="position-relative">
                                                      <input type="number" placeholder="Enter Mass of Products"
                                                            class="form-control Dashboard-tab text-white"
                                                            name="mass_of_products" required ngModel
                                                            #mass_of_products="ngModel" />
                                                      <!-- <p-dropdown
                                                                    class="ct_select_op_input ct_position_small_quantity"
                                                                    ngModel [options]="upstreamMassUnitsGrid"
                                                                    optionLabel="units" optionValue="units"
                                                                    name="mass_unit" #upfacilityUnits="ngModel">
                                                                </p-dropdown> -->
                                                      <div class="ct_quantity_text">
                                                            <p>tonnes</p>
                                                      </div>
                                                      <!-- <p class="validation"
                                                                *ngIf="mass_of_products.invalid && dataEntryForm.submitted">
                                                                Mass of products value required
                                                            </p> -->
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-md-6">
                                          <div class="mb-4 " style="gap: 10px;">
                                                <label class="ct_text_wrape">Sub Category</label>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [options]="subVehicleCategory" optionLabel="vehicle_type"
                                                      optionValue="vehicle_type"
                                                      (onChange)="onSubCategoryVehicleChange($event)"
                                                      [(ngModel)]="subVehicleCategoryValue"
                                                      [ngModelOptions]="{standalone: true}">
                                                </p-dropdown>
                                          </div>
                                    </div>
                                    <div class="col-md-6">
                                          <div class="mb-4" style="gap: 10px;">
                                                <label class=" ct_text_wrape">Distance Travelled by
                                                      Product</label>

                                                <div class="position-relative">

                                                      <input type="number" class="form-control Dashboard-tab text-white"
                                                            placeholder="Enter Distance" name="distanceInKms" required
                                                            ngModel #distanceInKms="ngModel" />
                                                      <!-- <p-dropdown
                                                                    class="ct_select_op_input ct_position_small_quantity"
                                                                    ngModel [options]="distanceTravelled"
                                                                    optionLabel="unit" optionValue="unit"
                                                                    name="distance_unit" #upfacilityUnits="ngModel">
                                                                </p-dropdown> -->
                                                      <div class="ct_quantity_text">
                                                            <p>km</p>
                                                      </div>
                                                      <!-- <p class="validation"
                                                                *ngIf="distanceInKms.invalid && dataEntryForm.submitted">
                                                                Distance Travelled by
                                                                Product value required
                                                            </p> -->

                                                </div>


                                          </div>
                                    </div>

                                    <div class="col-md-6">
                                          <div class="mb-4" style="gap: 10px;">
                                                <label class=" ct_text_wrape">No. of Vehicles</label>
                                                <div class="position-relative">
                                                      <input type="number" class="form-control Dashboard-tab text-white"
                                                            name="noOfVehicles" required ngModel #noOfVehicles="ngModel"
                                                            placeholder="Enter no of vehicles" />
                                                      <!-- <p class="validation"
                                                                *ngIf="noOfVehicles.invalid && dataEntryForm.submitted">
                                                                No. of Vehicles value required
                                                            </p> -->
                                                </div>


                                          </div>
                                    </div>

                              </div>
                              <div class="row" *ngIf="spndBasedChecked">
                                    <div class="col-lg-4">
                                          <label for="fname">Spend Amount</label>
                                          <!-- <i class="fa-solid fa-eye ml-3 text-primary"
                                          (click)="annualEntry && (visible = !visible)"></i> -->
                                          <div class="position-relative">
                                                <input required ngModel name="readingvalueLocation"
                                                      #readingvalueLocation="ngModel" placeholder="Enter amount"
                                                      readingvalue id="search-input" type="text"
                                                      class="form-control Dashboard-tab text-white" />
                                                <div class="ct_quantity_text">
                                                      <p>{{unit}}</p>
                                                </div>
                                          </div>
                                          <p class="validation"
                                                *ngIf="readingvalueLocation.errors?.['required'] && dataEntryForm.submitted && readingvalueLocation.touched">
                                                Reading value is required.
                                          </p>
                                    </div>
                              </div>
                        </div>
                        <div class="mt-4" *ngIf="storageTransporationChecked">
                              <h5 class="mb-4">STORAGE FACILITY</h5>
                              <div class="row">
                                    <div class="col-md-6">
                                          <div class="mb-4" style="gap: 10px;">
                                                <label class=" ct_text_wrape">Storage Facility
                                                      Type</label>
                                                <p-dropdown class="ct_select_op_input ct_flex_1 ct_chev_icon_dark230"
                                                      [options]="storageGrid" [(ngModel)]="storage_type"
                                                      [ngModelOptions]="{standalone: true}" optionLabel="storagef_type"
                                                      optionValue="storagef_type">
                                                </p-dropdown>
                                          </div>
                                    </div>
                                    <div class="col-md-6">
                                          <div class="mb-4  " style="gap: 10px;">
                                                <label class=" ct_text_wrape">Area Occupied</label>
                                                <div class="position-relative">
                                                      <input type="number" class="form-control Dashboard-tab text-white"
                                                            placeholder="Enter Area Occupied" name="area_occupied"
                                                            ngModel />

                                                      <!-- <p-dropdown
                                                                    class="ct_select_op_input ct_position_small_quantity"
                                                                    ngModel [options]="facilityUnits"
                                                                    optionLabel="energyTypes" optionValue="energyTypes"
                                                                    name="area_unit" #upfacilityUnits="ngModel">
                                                                </p-dropdown> -->
                                                      <div class="ct_quantity_text">
                                                            <p>m<sup>2</sup></p>
                                                      </div>


                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-md-6">
                                          <div class="mb-4" style="gap: 10px;">
                                                <label class=" ct_text_wrape">No. of Days of
                                                      Storage</label>
                                                <div class="position-relative">
                                                      <input type="number" placeholder="Enter No. of Days of Storage"
                                                            class="form-control Dashboard-tab text-white"
                                                            name="averageNoOfDays" ngModel />
                                                </div>
                                          </div>
                                    </div>
                              </div>

                        </div>
                  </div>
                  <div class="col-12 mt-2 pt-3 ml-3 text-center">
                        <app-submit-button [isLoading]="isSubmitting" text="Submit"></app-submit-button>
                  </div>
            </div>
      </div>
</form>